body {
  background-color: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  border-top: 8px solid #0064b5;
}

header[role="banner"]{
  border-top: 20px solid $primary-color;
  position: absolute;
  width: 100%;
  h1 {
    margin-top: .6em;
    a {
      background: url(../images/logo-header.png) no-repeat 0 0;
      text-indent: -9999px;
      display: block;
      float: left;
      width: 160px;
      height: 46px;
    }
  }
}
footer#footer {
  text-align: left;
  color: $iron;
  clear: both;
  margin: 0 auto;
  padding: 2em 0;
  background-color: $jet;

  a {
    color: $jumbo;
    &:hover {
      color: $iron;
    }
  }


}
.ecr-section {
  color: $iron;
  min-height: 640px;
  overflow: hidden;
  padding: 4em 0;
  //margin-top: 20px;
  h2 {
    color: $white;
    line-height: 1.2em;
  }
  p{
    font-size: 21px;
    color: $jumbo;
  }
  a {
    border-bottom: 1px solid $primary-color;
  }
  img {
    position: relative;
    //max-width: none;
    margin-top: auto;
  }
}

.promo-section {
  background-color: #515358;
  //min-height: 100%;
  padding-top: 160px;

  h1 {
    color: #fff;
    line-height: 1.2em;
    margin: 1.5em 0 0;
  }

  .icon-promo {
    background: url(../images/icon-anchor.png) no-repeat center center;
    background-color: #515358;
    text-indent: -9999px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: -25px;
    width: 54px;
    height: 54px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .title-promo {
    text-align: center;
    margin: 60px 0;
    width: 100%;
  }
  .stillimg {
    margin: 2.5em auto;
    display: block;
  }
  p {
    color: $iron;
    font-size: 21px;
    .big-text {
      font-size: 34px;
      letter-spacing: -.03em;
      text-transform: uppercase;
      color: $white;
    }
    a {
      color: $iron;
      text-decoration: underline;
    }
  }
}

.form-content {
  background: $white;
  border: 6px solid $white;
  margin: 0 auto 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  border-radius: $global-radius;

  .title-form {
    text-align: center;
    width: 100%;
    margin-top: -35px;
    margin-bottom: 25px;
  }

  form {
    fieldset {
      margin: 0;
      padding: 0;
      border: none;
      border-top: 1px dotted $base;
      padding: 1em;
      &:first-child {
        border: none;
      }

    }
    label {
      display: block;
      color: $jumbo;
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 0;
      float: left;
      text-align: right;
      position: relative;
      font-weight: 500;
      width: 35%;
      padding: 0 15px;
      margin: 9px 0 0px;
      line-height: 1em;
      span {
        color: red;
        margin-left: 0.25em;
      }
    }
    input[type="name"], input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
      color: $jet;
      font-size: 1em;
      -webkit-appearance: none;
      -webkit-border-radius: $global-radius;
      -moz-border-radius: $global-radius;
      border-radius: $global-radius;
      width: 65%;
      float: left;
      position: relative;
      margin: 0;
    }
    textarea {
      resize:vertical;
      margin: 5px 0 0;
      color:  $monsoon;
      font-size: 13px;
    }
    .inputgroup{
      clear: both;
      margin-bottom: 10px;
      overflow: hidden;
    }
    .checkgroup {
      label {
        width: 75%;
        text-align: left;
        float: right;
        clear: both;
        font-weight: 400;
        font-size: 13px;
        input {
          margin: 0 6px 0 0;
        }
      }
    }
    .radiogroup {
      width: 65%;
      float: left;
      position: relative;
      margin-bottom: 15px;
      label {
        width: 50%;
        font-size: 15px;
        color: $jet;
        float: left;
        position: relative;
        clear: none;
        text-transform: none;
        margin: 9px 0 0;
        padding: 0;
        text-align: left;
        font-weight: 400;
        input {
          margin: 0 7px 0 0;
        }
      }
    }
    button {
      -webkit-border-radius: $global-radius;
      -moz-border-radius: $global-radius;
      border-radius: $global-radius;
      padding: .7em 3.2em;
    }
    .button-content {
      text-align: center;
    }

  }
}
