// Vertical align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
  font-size:1em;
}

.content-block {
  //min-height: 100%;
  padding: 0;
}

h1 {
}

div#intro {
  padding: 100px 0;
  div#divisions {
    padding-top:3em;

    .columns {
      a {
        padding-top:120px;
        background-size:90px;
      }
    }
  }
}

.anchor {
  display:block;
  position:absolute;
  bottom:58px;
  left:50%;
  margin-left:-20px;
  width:40px;
  height:40px;
  background:url(../images/sprite.png) -3px -76px no-repeat;
  overflow:hidden;
  text-indent:-999em;

  &.dark {
    background-position:-54px -76px;
  }

  &.reverse {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

section#calculadoras,
section#proyectores,
section#diccionarios {
  h2, p {
    //text-shadow:1px 1px 2px rgba(0,0,0,.5);
  }
  p{
    font-size: 1.4em;
    margin: 16px 0 8px;
  }
  overflow: hidden;
  height:100%;
  //min-height:100%;
  
  .background {
    //min-height:100%;
    position:relative;
  }

  .columns {
    background:none;
  }

}

section#calculadoras {
  text-align:left;
  h2 {
    background-position:left top;
  }
  .background {
    //background:url(../images/background-calculadoras.png) 90% 10% no-repeat;
    @include vertical-align;
  }
  .stillimg {
    position: absolute;
    max-width: none;
    margin-top: -50%;
  }
}

section#proyectores {
  text-align:left;

  h2 {
    background-position:left top;
  }

  .background {
    //background:url(../images/background-proyectores.png) left 10% no-repeat;
    //background-size:550px;
    @include vertical-align;
  }
  .stillimg {
    position: absolute;
    max-width: none;
    right: 0;
    top:auto;
    margin-top: 25%;
  }
  
  .banner {
    margin-top: .5em;

    span.text {
      font-size: 1em;
    }
  }

}

section#diccionarios {
  text-align:left;
  h2 {
    background-position:left top;
  }
  .background {
    //background:url(../images/background-diccionarios.png) 110% top no-repeat;
    //background-size:600px;
    @include vertical-align;
  }
  .stillimg {
    position: absolute;
    max-width: none;
    margin-top: -50%;
  }
}

