  </body>
  <!-- Les scripts from third parties -->
  {% javascript vendor %}
  {% javascript application %}
  <!--[if lt IE 10]>
    {% javascript vendor.ie10 %}
  <![endif]-->
  {% if site.env == 'development' %}
    <!-- Only in development mode -->
    <script src="//localhost:35729/livereload.js"></script>
  {% else %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QG6V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
</html>