<!-- Footer -->
<footer class="footer text-center--2xs">
  <div class="container-fluid g-pt-20 ">
    <div class="row g-mb-10 ">
      <div class="col-md-8 col-sm-7 col-xs-12 col-2xs-12 legal text-center--md text-left">
        <ul class="list-inline">
          <li>
						<a href="{{ '/' | prepend: site.data.global.url }}aviso-legal/" >Aviso legal</a>	            
          </li>
          <li>
						<a href="{{ '/' | prepend: site.data.global.url }}proteccion-de-datos/" >Política de Protección de Datos</a>	            
          </li>
          <li>
						<a href="{{ '/' | prepend: site.data.global.url }}politica-de-cookies/" >Política de Cookies</a>	          
					</li>
        </ul>
      </div>
      <div class="casio-logo-wrapper col-md-4 col-sm-5 col-xs-12 col-2xs-12 g-pr-40">
      	<span class="casio-logo">   
            <a href="http://www.casio-europe.com/es/">
              <img src="/media/assets/logo.png" alt="Imagen del logo de CASIO"> 
              <em>España</em>
            </a>              
        </span>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->


