<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed " data-role="navigation">
  <div class="container-fluid g-pt-20 g-pb-20">
    <div class="menu-container page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Cambiar navegación</span>
        <span class="icon-bar" style="position: relative;"></span>
        <span class="icon-bar" style="position: relative; bottom: 1px;"></span>
        <span class="icon-bar" style="position: relative;"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prepend: site.data.global.url }}">
        <img src="/media/assets/logo-casio.jpg" alt="Imagen del logo de CASIO System Solutions">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="menu-container">
        <ul class="nav navbar-nav">
            <li class="page-scroll">
              <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#soluciones"><span data-hover="Soluciones">Soluciones</span></a>
            </li>
            <li class="page-scroll">
              <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#projects"><span data-hover="Casos de éxito">Casos de éxito</span></a>
            </li>             
            <li class="page-scroll">
              <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#programa-partners"><span data-hover="Programa Partners">Programa Partners</span></a>
            </li>
            <li class="">
              <a href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_historia}}"><span data-hover="Nuestra historia">Nuestra historia</span></a>
            </li>
            <li class="">
              <a href="{{ '/' | prepend: site.data.global.url }}manuales"><span data-hover="Manuales">Manuales</span></a>
            </li>
            <li class="">
              <a href="{{site.data.global.url_contacto}}"><span data-hover="Contacto">Contacto</span></a>
            </li>
        </ul>
        <div class="header-buttons">         
          {% if page.layout_class != 'page-distribuidor' %}
            <a class="btn-u btn-u-lg btn-u-upper btn-distribuidor btn-brd btn-u-seaaa" href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}">Quiero Ser Distribuidor</a>
          {% else %}
            <!-- <a class="btn-u btn-u-lg btn-brd btn-u-upper " href="{{ '/' | prepend: site.data.global.url }}contacto">Contactar con Soporte</a>             -->
          {% endif %}  
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
