---
layout:       default
layout_class: page-home page-home-show-demo  
layout_id:    home   
permalink:    /
sitemap:      1
title:        CASIO System Solutions | Soluciones para tu tranquilidad
intro:        'Descubre un terminal de punto de venta más sencillo e inteligente, que funciona tan rápido como tu negocio.'
---

<!-- Welcome Section -->
{% include components/welcome.html %}
<!-- /Welcome Section -->

<!-- Soluciones Profesionales Section -->
{% include components/soluciones-profesionales.html %}
<!-- /Soluciones Profesionales Section -->

<!-- Soluciones de Consumo Section -->
{% include components/soluciones-consumo.html %}
<!-- /Soluciones de Consumo Section -->

<!-- Casos de éxito Section -->
{% include components/casos.html %}
<!-- /Projects/Casos de éxito Section -->

<!-- Partners Section -->
{% include components/partners.html %}
<!-- /Partners Section -->

<!-- Our history banner Section -->
{% include components/our-history.html %}
<!-- /Our history banner Section -->
