---
layout:       default
layout_class: page-home page-home-show-demo  
layout_id:    home   
permalink:    /
sitemap:      1
title:        CASIO System Solutions | TPV, Cajas registradoras y Soluciones en red para hostelería y retail
intro:        'Optimiza y sácale el máximo partido a todas las soluciones TPV de CASIO y prepárate para empezar la temporada con el mejor terminal de punto de venta.'
---

<!-- Welcome Section -->
{% include components/welcome.html %}
<!-- /Welcome Section -->

<!-- Soluciones Profesionales Section -->
{% include components/soluciones-profesionales.html %}
<!-- /Soluciones Profesionales Section -->

<!-- Soluciones de Consumo Section -->
{% include components/soluciones-consumo.html %}
<!-- /Soluciones de Consumo Section -->

<!-- Casos de éxito Section -->
{% include components/casos.html %}
<!-- /Projects/Casos de éxito Section -->

<!-- Partners Section -->
{% include components/partners.html %}
<!-- /Partners Section -->

<!-- Our history banner Section -->
{% include components/our-history.html %}
<!-- /Our history banner Section -->
