body {
	font-family: $font-family-sans-serif;
	font-size: 14px;
}
h1, .h1, h2, .h2 {
  font-size: 34px; 
}
h3 {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: none;
}

.one-page-header {
    background: rgba(255,255,255,1);
    &.top-nav-collapse {
    	background: rgba(255,255,255,1);
    }
}
.action-section-inner {
	height: 600px;
}


.headline-after {
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 40px;
	.headline-name {
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		color: $primary-color;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}	
	&:after {
    content: "";
    display: inline-block;
    width: 70px;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;		
		left: 50%;
		margin-left: -35px;
    background: $primary-color;
	}
}

#partners-intro .headline-after {
	.headline-name {
		color: $third-color;
	}
	&:after {
    background: $third-color;
    left: 40px;
	}
}

.g-max-width--900 {
  max-width: 900px;
  position: relative;
}

.g-max-width--650 {
  max-width: 650px;
  position: relative;
}

small {
	color: $primary-color;
	font-size: 18px;
	font-style: italic;
}

/* Sky Form Styles */
.sky-form .input input,
.sky-form .textarea textarea,
.sky-form .input input:hover,
.sky-form .textarea textarea:hover
 {
  border-color: #ececec;
  border-radius: 3px;
  color: #999;
}
.sky-form .input input:focus, .sky-form .textarea textarea:focus, .sky-form .select select:focus {
	color: #ccc;
}
.login-section {
	.sky-form .input input:focus, .sky-form .textarea textarea:focus, .sky-form .select select:focus {
		color: #999;
	}
	.sky-form .state-error input, .sky-form .state-error select, .sky-form .state-error select + i, .sky-form .state-error textarea, .sky-form .radio.state-error i, .sky-form .checkbox.state-error i, .sky-form .toggle.state-error i, .sky-form .toggle.state-error input:checked + i {
		background: none !important;
		border-color: #a00;
	}
	.sky-form .state-success input, .sky-form .state-success select, .sky-form .state-success select + i, .sky-form .state-success textarea, .sky-form .radio.state-success i, .sky-form .checkbox.state-success i, .sky-form .toggle.state-success i, .sky-form .toggle.state-success input:checked + i {
			background: none !important;
			color: #ccc;		
	}
}

.sky-form .checkbox {
  color: #999;
  font-size: 12px;
  a, a:focus, a:hover {
  	color: #ccc;
  }
}

.sky-form .radio:hover i, .sky-form .checkbox:hover i, .sky-form .toggle:hover i, .sky-form .ui-slider-handle:hover {
	border-color: #999;
	background: #999;
}

.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
	background: none !important;
	border: none;
}
.sky-form .radio i, .sky-form .checkbox i {
	width: 12px;
	height: 12px;
	border-width: 1px;
	border-color: #999;
	background: none;
	border-radius: 30px;
	top: 8px;
}

.sky-form .radio input:checked + i::after, .sky-form .checkbox input:checked + i::after {
		background: none;
    opacity: 1;
    left: -2px;
}
.sky-form .checkbox input + i::after {
    color: #999;
		background: #999;
		border-color: #999;
}

.sky-form .select select {
  border-color: #ececec;
  border-radius: 3px;	
}

.sky-form .input input:focus, 
.sky-form .textarea textarea:focus,
.sky-form .select select:focus {
 	color: #444;
}

.sky-form .radio input + i::after {
 	background-color: #444;	
}

.sky-form .state-success input, .sky-form .state-success select, .sky-form .state-success select + i, .sky-form .state-success textarea, .sky-form .radio.state-success i, .sky-form .checkbox.state-success i, .sky-form .toggle.state-success i, .sky-form .toggle.state-success input:checked + i 
{
	background: #f0fff0 !important;
	color: #444;
}

.sky-form .state-error input, .sky-form .state-error select, .sky-form .state-error select + i, .sky-form .state-error textarea, .sky-form .radio.state-error i, .sky-form .checkbox.state-error i, .sky-form .toggle.state-error i, .sky-form .toggle.state-error input:checked + i {
    background: #fff0f0 !important;
}



.sky-form {
	&.sky-form-custom {
		.textarea textarea {
			height: 45px;
			padding: 6px 12px;
		}

		.textarea-expandable textarea {
			height: 45px;			
		}
		.textarea-expandable textarea:focus {
			height: 125px;
		}

	}	
}


/* Button Styles */
.btn-u-lg,
a.btn-u-lg,
.btn-u.btn-brd {
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  padding: 15px 25px;
}

.header-buttons {
	.btn-u.btn-brd {
		color: $link-color;
		border: solid 1px $link-color;
		border-color: $link-color;
		&:hover {
			background: $link-color;
			color: #fff;
		}
	}	
}

/* Navbar */
.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav > li > a,
.one-page-header.top-nav-collapse .navbar-nav > li > a:before {
  font-size: 12px;
}

.one-page-header .navbar-nav > li > a {
  font-size: 12px;
}

/** Homepage **/

section {
	p {
		&.lead {
			font-size: 20px;
			line-height: 32px;
			font-weight: 400;
			strong, b {
				font-weight: 600;
			}
		}
	}
}

/** > Promo section **/
.promo-section-wrapper {
	position: relative;

}

ul.promo-section-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		a {
				position: absolute;
				top: 50%;
				z-index: 10;
				cursor: pointer;
				color: rgba(0,0,0,0.8);
				text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
				transition: all .3s ease;
		    display: block;
		    background: #D1DCE4;
		    opacity: .4;
		    margin-top: -60px;
		    height: 130px;
		    width: 50px;
		    text-indent: -999em;
		    overflow: hidden;
		    border-radius: 5px;
		    background-image: url(/media/images/arrow-slider.png);
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: 12px;
		  &:hover {
		  	opacity: .8;
		  	display: block;
		  }


			&.promo-section-prev {
				left: 0;
				transform: rotate(180deg);					
			}
			&.promo-section-next {
				right: 0;
				text-align: left;
			}
		}
	}
}


.promo-section {
	.promo-item-content {
		text-align: left;
		width: 70%;
		// top: 40%;
		// transform: translateY(-40%);
		margin: 0;
		&.inverse {
			margin-left: 30%;
			text-align: right;
			h3, p {
				text-align: right;
			}
			h4, p {
				margin-left: 30%;
			}
		}
	}
	p {
		color: #fafafa;
		font-size: 24px;
		max-width: 70%;
		margin: 0 0 35px;
		font-weight: 300;
		text-shadow: 0px 0px 10px rgba(0,0,0,1);
		strong {
			font-weight: 400;
		}
	}
	h3 {
		letter-spacing: 0;
		font-weight: 700;		
		position: relative;
		text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.75);
		span {
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			color: $secondary-color;
			margin-bottom: 10px;
			letter-spacing: 2px;
		}
		strong {
			font-weight: 800;		
		  color: $link-color !important;
		}
	}
	h4 {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-shadow: 0px 0px 22px rgba(0,0,0,0.75);
    color: #e7e7e7;
    max-width: 70%;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
	}
	.btn-u-lg, a.btn-u-lg, .btn-u.btn-brd {
		font-size: 16px;
		font-weight: 600;
	}

	.slick-dots {
	  // bottom: 120px;
	  li {
	  	&.slick-active {
	  		color: $link-color;
	  		border-color: $link-color;
	  	}
	  }
	}

	i.fa {
		font-size: 18px;
		margin-right: 6px;
	}

	.btn-brd {
		border-color: transparent;
		font-weight: 500;
	}

	.btn-u {
	  // background: $link-color;
	}
	.btn-u:hover,
	.btn-u:focus {
	  // background: $primary-color;
	}
	.btn-u.btn-brd:hover,
	.btn-u.btn-brd:focus {
	  background: none;
	  text-decoration: underline;
	}
}

.promo-item::after {
	background: rgba(0,0,0,0);
}

@media (max-width: 991px) {
	.promo-item {
		background-position: center right;
	}	
}

@media (max-width : 768px) {
	.promo-section {
		.promo-item-content {
			width: 100%;
			p {
				font-size: 16px;
				margin: 0 0 15px;
				max-width: 80%;
			}
		}
	}
}

@media (max-width : 480px) {
	.promo-section {
		.promo-item-content {
			&.inverse {
				margin-left: 0;
				text-align: left;
				h4 {
					margin-left: 0;
				}
			}
			h4 {
				max-width: 100%;
				font-size: 15px;
				line-height: 1.375;
				}
		}
	}
}

/* Productos Prof. Section */
.soluciones-section {
	background: #fafafa;
}
.service-block-v8 {
	background: none;
	i {
		color: #fff;
	}
	.service-block-desc {
		h3 {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0;
			text-transform: uppercase;
			color: $primary-color;
			&::after {
				top: 32px;
				background: $primary-color;
			}
		}
		p {
			font-weight: 100;
			margin-right: 1em;
		}
	}
}

/** > Software section **/
#software {
	position: relative;
	&::before {
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;

	  background-image: url(../media/assets/software-hero.png);
	  background-position: center 112%;
		background-size: 58%;
		background-repeat: no-repeat;

	}

	// background-image: url(../media/assets/39309401_l.jpg);

	background-image: none;
	// From http://www.cssportal.com/css-gradient-generator/
	background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #6a6a6a 0%, #000000 100%);
	background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #6a6a6a 0%, #000000 100%);
	background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #6a6a6a 0%, #000000 100%);
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, #6a6a6a), color-stop(100, #000000));
	background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #6a6a6a 0%, #000000 100%);
	background-image: radial-gradient(ellipse farthest-corner at center bottom, #6a6a6a 0%, #000000 100%);

  padding-bottom: 15%;

  // url(../media/assets/software-hero.jpg)   
  // no-repeat 50% 50% / cover
  .action-section-inner {
  	height: 500px;
  }  
}

/** > Soluciones section **/
.soluciones-section {
	.intro {
		p {
		}
	}
}

/* Infoblocks */
.infoblocks {
  padding-top: 80px;
  .infoblock-content {
  	padding: 80px 50px;
  	h3 {
  		font-size: 20px;
			text-transform: none;
  	}
  	p {
  		margin-bottom: 1.5em;
			font-size: 16px;
			font-weight: 300;
			strong, b {
				font-weight: 400;
				color: rgba(255,255,255,.7);
			}
  	}
  }
}

/** > About section **/
.infoblock-trio {
	h2 {
		text-transform: none;
	}
	ul, p, li {
		font-weight: 300;
		strong, b {
			font-weight: 600;
		}
	}
	.infoblock-trio-col-1 {}
	.infoblock-trio-col-2 {
		p, li {
			color: #333 !important;
		}
	}
	.infoblock-trio-col-3 {}

}

.infoblock-trio-col-3-content {
	border-bottom: 1px solid #fafafa;
	padding: 40px 40px 20px;
	p {
		margin: .5em 0 1em;
		color: #343434;		
	}
	&:hover {
		background: transparent;
	}
	.one {
		float: right;
		width: 65%;
		font-size: 12px;
		color: #343434;	
		img {
			display: inline;
		}
	}
	.two {
		float: left;
		width: 30%;
	}
}


/** > Action section **/
.action-section {
		position: relative;
		overflow: hidden;
    background: url(../media/assets/partners-hero.jpg) no-repeat 50% 50% / cover;    
    p {
    	font-size: 20px;
    	font-weight: 300;
    }

    .action-follow {
    	position: absolute;
    	z-index: 100;
    	left: 50%;
			margin-left: -25px;
			text-align: center;
			i.icon-custom {
				border-color: transparent !important;
			}
    	a {

    	}
    }
}

/* Projects Section */
.projects-section {
	.projects-intro {
		p {
		}
	}
}
.project-item {
	h3 {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
		text-transform: uppercase;		
	}
	p {
		font-weight: 300;
		strong, b {
			font-weight: 400;
		}
	}
}

.ventajas-section {
	.intro {
		p {
		}
	}
	h3 {
		color: $primary-color;
	}
}

.project-item {
	h3 {
		a {
			color: #111;
			&:hover {
				color: $primary-color;
			}
		}
	} 
	a.read-more {
		font-size: 14px;
		text-transform: uppercase;
		i {
			font-size: 18px;
			margin-right: 4px;
		}
	}
}

/* Contact Section */
.contacts-section {
	background-color: $primary-color-dark;
	color: #fff ; 
	h2 {
		color: #fff;
	}
	h3 {
		color: rgba(255,255,255,.5);
	}
	h4 {
		color: rgba(255,255,255,.5);
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0;
		font-weight: 600;
	}

	.contact-blocks {
		border-right: 1px solid $primary-color;
		&:last-child {
			border: none;
		}

		h4 {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0;
			font-weight: 600;
		}

		i {
			font-size: 50px;
			margin-bottom: 18px;
			border: none;
			font-weight: normal;			
		}
	}

	.sky-form {
		fieldset {
			background: none;
		}
		.input input, .textarea textarea,  .input input:hover,  .textarea textarea:hover {
			color: $secondary-color;
			border-color: darken($secondary-color, 30%);
		}
		.input input:focus, .textarea textarea:focus, .select select:focus {
			color: #fff;
		}

		.state-success input, .state-success select, .state-success select + i,  .state-success textarea, .radio.state-success i, .checkbox.state-success i, .toggle.state-success i, .toggle.state-success input:checked + i 
		{
			border-color: darken($secondary-color, 10%) !important;
			color: $secondary-color !important;
			background: none !important;
		}

		.state-error input, .state-error select,.state-error select + i, .state-error textarea, .radio.state-error i, .checkbox.state-error i, .toggle.state-error i, .toggle.state-error input:checked + i {
		  border-color: red !important;
			background: none !important;
		}

	}



}


/* Subscribe section */
.login-section {
	.btn-u-lg  {
		padding: 13px 40px;
		&:hover, &:focus {
			background: #fff;
		}
	}
}

/* Pre-Footer */
.login-section, .pre-footer {
	h3 {
		letter-spacing: 0;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.4;
		font-weight: 700;
	}
}


.pre-footer {
	li {
		a {
			color: #aaa;
		}
	}
}


/* Footer */
.footer {
	.container {
	  border-top: none;
	}
	a {
	  color: $primary-color;
	}
	.copyright {
		display: inline-block;
		font-size: 10px;
	}
	.casio-logo {
		display: inline-block;
		padding-right: 30px;
		padding-bottom: 10px;
		em {
			display: inline-block;
			font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,"Arial Unicode MS",sans-serif;
			font-size: .9em;
			margin-left: .25em;
			padding-left: 1em;
			font-style: normal;
			font-weight: 200;
			line-height: 2em;
			color: #5977b3;
			border-left: 1px solid #dae0f2;			
		}
	}
	.legal {
		ul li a {
			font-size: 12px;
		}
	}

}
@media (max-width: 768px) {
	.footer {
		.legal {
			text-align: center;
			ul li a {
				font-size: 11px;
			}
		}
	}
}


section.history-section {
	text-align: center;
	background-color: #000d2b;
	color: #fff;
	h1, h2, h3, h4, h5, p {
		color: #fff;
	}
	a.btn-u-lg {
		padding: 15px 40px !important;
		font-size: 16px;
		font-weight: 600;
	}
}

@media (min-width: 768px) and (max-width: 992px)  {
	section.history-section {
		text-align: left;
		p.lead {
			font-size: 18px;
		}
	}
}


@media (min-width: 1199px) {
	section.history-section {
		text-align: left;
	}
}