.page-distribuidor {
	// Navegació
	.header-buttons {
		.btn-distribuidor {
			display: none;
		}		
	}

	.sky-form {
		.action-buttons {
			p {
				line-height: 1.75;
				a {
					color: $link-color;
				}
				span {
					line-height: 1;
					font-size: 12px;
				}
			}
		}
	}

	// Capçalera principal
	.action-section-inner {
		height: 500px;
	}
	.action-section {
		i.icon-custom {
			border-color: #fff;
			color: #fff;
		}
		h3 {
			color: #eee;
			letter-spacing: 1px;
		}
		p {
			font-size: 16px;
			font-weight: 300;
			strong, b {
				font-weight: 400;
			}

			&.lead {				
				font-size: 17px;
				font-weight: 300;
			}
		}
		a {
			color: #fff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.action-section {
		&::before {
			display: none;
		}
		background-image: none;
		background-color: $primary-color;
	}
	&.page-gracias {
		.action-section {
			background-color: $third-color;
		}
	}
}

@media (min-width: 768px) {
	.page-distribuidor {
		.action-section {
			p {
				// max-width: 550px;
			}
		}
	}
}