
.page-historia {
	.history-section {
    background: url(../media/assets/611404.jpg) no-repeat 50% 50% / cover;    
		background: $cs-green;
    img {
    	display: none;
    }
		a.btn-u {
			display: none;
		}
	}
	.history-text {
		h3 {
			color: $cs-green;
			font-size: 24px;
			font-weight: 700;
		}
		p {
			font-size: 19px;
			margin: 1.5em 0;
			color: $cc-dark-color;
			font-weight: 100;
		}
	}
}