  </body>

  <!-- Les scripts from third parties -->
  {% javascript vendor %}

  <script>
  jQuery(document).ready(function() {
      App.init();
      ContactForm.initContactForm();

      // Cookie consent
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#eaf7f7",
            "text": "#333"
          },
          "button": {
            "background": "#0057AC",
            "text": "#e7e7e7"
          }
        },
        "position": "bottom-right",
        "content": {
          "message": "Este sitio web utiliza cookies. Si continua navegando acepta nuestra política de privacidad.",
          "dismiss": "De acuerdo",
          "link": "Saber más",
          "href": "/politica-de-privacidad/"
        }
      })});

     // SmoothScroll to Contacto, nyapa!
      var reSmooth = /^#contacto/;
      var id;
      if (reSmooth.test(location.hash)) {
        // Strip the "#smoothScroll" part off (and put "#" back on the beginning)
        id = '#' + location.hash.replace(reSmooth, '');
        $.smoothScroll({
          scrollTarget: '#contacto'
        });
      }

  });
  </script>

  <!--[if lt IE 10]>
    {% javascript vendor.ie10 %}
  <![endif]-->

  {% if site.env == 'development' %}
    <!-- Only in development mode -->
    <script src="//localhost:35729/livereload.js"></script>
  {% else %}
    <!-- Les google analytics -->
    <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//{{ site.ga_site }}/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','{{ site.ga_analytics }}', 'auto');ga('send','pageview');
    </script>
  {% endif %}

</html>