  </body>

  <!-- Les scripts from third parties -->
  {% javascript vendor %}

  <!-- JS Global Compulsory -->
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/jquery/jquery.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/smoothScroll.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/jquery.easing.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/modernizr.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/slick/slick.min.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/shhos/shhos.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/plugins/login-signup-modal-window/js/main.js"></script>

  <!-- JS Page Level-->
  <script src="{{ site.data.global.url }}/unify/One-Pages/assets/js/one.app.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/Accounting/assets/js/forms/contact.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/Accounting/assets/js/plugins/pricing.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/Accounting/assets/js/plugins/testimonials.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/Accounting/assets/js/plugins/infoblock.js"></script>
  <script src="{{ site.data.global.url }}/unify/One-Pages/Accounting/assets/js/plugins/promo.js"></script>



  {% comment %}
    <!-- Unify template js is included on vendor.js file ;) -->


  
   
  {% endcomment %}  

  <script>
  jQuery(document).ready(function() {
      App.init();
      ContactForm.initContactForm();
  });
  </script>

  <!--[if lt IE 9]>
      {% javascript vendor.ie9 %}
  <![endif]-->

  <!--[if lt IE 10]>
    <script src="{{ site.data.global.url }}/unify/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
  <![endif]-->


  {% if site.env == 'development' %}
    <!-- Only in development mode -->
    <script src="//localhost:35729/livereload.js"></script>
  {% else %}
    <!-- Les google analytics -->
    <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//{{ site.ga_site }}/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','{{ site.ga_analytics }}', 'auto');ga('send','pageview');
    </script>
  {% endif %}

</html>