		<!-- Pre-Footer -->
		<section class="pre-footer g-bg-dark text-center--2xs">
			<div class="container g-pt-30">
				<div class="row">
					<div class="col-md-4 g-mb-25">
						<h3 class="g-mb-15 g-color-white">Text widget</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae est lorem. Aenean imperdiet nisi a dolor condimentum, id ullamcorper lacus vestibulum. Praesent pulvinar gravida. Aenean lobortis ante ac porttitor eleifend.</p>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-sm-3 col-xs-6 col-2xs-12 g-mb-25">
								<h3 class="g-mb-15 g-color-white">Categories</h3>
								<ul class="list-unstyled">
									<li><a href="#">Proin vitae est lorem</a></li>
									<li><a href="#">Aenean imperdiet nisi</a></li>
									<li><a href="#">Praesent pulvinar gravida</a></li>
									<li><a href="#">Integer commodo est</a></li>
								</ul>
							</div>
							<div class="col-sm-3 col-xs-6 col-2xs-12 g-mb-25">
								<h3 class="g-mb-15 g-color-white">Customer support</h3>
								<ul class="list-unstyled">
									<li><a href="#">Vivamus egestas sapien</a></li>
									<li><a href="#">Sed convallis nec enim</a></li>
									<li><a href="#">Pellentesque a tristique risus</a></li>
									<li><a href="#">Nunc vitae libero lacus</a></li>
								</ul>
							</div>
							<div class="col-sm-3 col-xs-6 col-2xs-12 g-mb-25">
								<h3 class="g-mb-15 g-color-white">Top link</h3>
								<ul class="list-unstyled">
									<li><a href="#">Pellentesque a tristique risus</a></li>
									<li><a href="#">Nunc vitae libero lacus</a></li>
									<li><a href="#">Praesent pulvinar gravida</a></li>
									<li><a href="#">Integer commodo est</a></li>
								</ul>
							</div>
							<div class="col-sm-3 col-xs-6 col-2xs-12 g-mb-25">
								<h3 class="g-mb-15 g-color-white">Usefull links</h3>
								<ul class="list-unstyled">
									<li><a href="#">Praesent pulvinar gravida</a></li>
									<li><a href="#">Integer commodo est</a></li>
									<li><a href="#">Praesent pulvinar gravida</a></li>
									<li><a href="#">Integer commodo est</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Pre-Footer -->


	  <!-- Footer -->
	  <footer class="footer g-bg-dark text-center--2xs">
	    <div class="container g-pt-40 g-pb-20">
	      <div class="row">
	        <div class="col-xs-6 col-2xs-12 g-pb-20">
	          <p>&copy; {{ site.data.global.footer_text }}</a></p>
	        </div>

	        <div class="col-xs-6 col-2xs-12 text-right g-pb-20">
	        <ul class="list-inline g-margin-0">
	          <li>
	            <a href="#" class="footer__social">
	              <i class="icon-bg-u icon-sm rounded fa fa-twitter"></i>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="footer__social">
	              <i class="icon-bg-u icon-sm rounded fa fa-pinterest-p"></i>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="footer__social">
	              <i class="icon-bg-u icon-sm rounded fa fa-facebook"></i>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="footer__social">
	              <i class="icon-bg-u icon-sm rounded fa fa-linkedin"></i>
	            </a>
	          </li>
	        </ul>
	        </div>
	      </div>
	    </div>
	  </footer>
	  <!-- /Footer -->


