  <!--=== Header ===-->
  <nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed " data-role="navigation">
    <div class="container g-pt-10 g-pb-10">
      <div class="menu-container page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Cambiar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/' | prepend: site.data.global.url }}">
          <img src="/media/images/logo-casioss-black.png" alt="CASIO System Solutions">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            {% if page.layout_class contains 'page-distribuidor'  %}
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}"><span data-hover="< Volver al Inicio">< Volver al Inicio</span></a>
              </li>
            {% else %}
              <!-- <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#welcome"><span data-hover="Inicio">Inicio</span></a>
              </li> -->
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#soluciones"><span data-hover="Soluciones">Soluciones</span></a>
              </li>
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#area-distribuidores"><span data-hover="Area Distribuidores">Area Distribuidores</span></a>
              </li>
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{% endif %}#projects"><span data-hover="Casos de éxito">Casos de éxito</span></a>
              </li>             
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_historia}}{% endif %}"><span data-hover="Nuestra historia">Nuestra historia</span></a>
              </li>
              <li class="page-scroll">
                <a href="{% if page.layout_id != 'home' %}{{ '/' | prepend: site.data.global.url }}contacto{% endif %}"><span data-hover="Contacto">Contacto</span></a>
              </li>
            {% endif %}
          </ul>
          <div class="header-buttons page-scroll">         
            {% if page.layout_class != 'page-distribuidor' %}
              <a class="btn-u btn-u-lg btn-u-upper btn-distribuidor btn-u-blue" href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}">Quiero Ser Distribuidor</a>
            {% else %}
              <a class="btn-u btn-u-lg btn-brd btn-u-upper " href="{{ '/' | prepend: site.data.global.url }}contacto">Contactar con Soporte</a>            
            {% endif %}  
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!--=== End Header ===-->



