<section id="programa-partners" class="area-distribuidores">
		<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
			<div class="row equal-height-columns">
				<div class="col-lg-6 equal-height-columns-item--middle">
					<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/assets/partners-side.jpg" alt=".">
				</div>
				<div class="col-lg-6 equal-height-columns-item--middle">
					<div class="inner">						
	   		    <h2 class="headline-after g-mt-40">
		        	<span class="headline-name">Programa para partners</span>
		        	Trabaja con los mejores
	        	</h2>
		        <p class="lead g-mb-40">
			        Participa en nuestro programa para Partners y consigue ventajas competitivas.		        
		      	</p>
		      	<div class="row g-mb-40 beneficios">
		      		<div class="col-lg-2 text-center">

							<span class="fa-stack">
							    <!-- The icon that will wrap the number -->
							    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
							    <!-- a strong element with the custom content, in this case a number -->
							    <strong class="fa-stack-1x">
							        1   
							    </strong>
							</span>

			      		<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-thumbs-o-up   "></i> -->
		      		</div>
		      		<div class="col-lg-8">
				      		<h3 class="g-mb-15">Serás el referente en servicio y atención</h3>
				      		<p>Elegimos empresas con experiencia y calidad contrastada. Nuestra marca avala la disponibilidad de productos CASIO y sus servicios. </p>
		      		</div>
		      	</div>
		      	<div class="row g-mb-40 beneficios">
		      		<div class="col-lg-2 text-center">
				      	<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-plug"></i> -->

								<span class="fa-stack">
								    <!-- The icon that will wrap the number -->
								    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
								    <!-- a strong element with the custom content, in this case a number -->
								    <strong class="fa-stack-1x">
								        2   
								    </strong>
								</span>
		      		</div>
		      		<div class="col-lg-8">
			      		<h3 class="g-mb-15">Acceso a nuevos clientes</h3>
			      		<p>Podrás acceder a un amplio sector de clientes potenciales para otros negocios del distribuidor.</p>
		      		</div>
		      	</div>
		      	<div class="row g-mb-40 beneficios">
		      		<div class="col-lg-2 text-center">
				      	<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-line-chart"></i>		     			 -->
								<span class="fa-stack">
								    <!-- The icon that will wrap the number -->
								    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
								    <!-- a strong element with the custom content, in this case a number -->
								    <strong class="fa-stack-1x">
								        3  
								    </strong>
								</span>
	
		      		</div>
		      		<div class="col-lg-8">
			      		<h3 class="g-mb-15">Recursos para tu negocio</h3>
			      		<p>Accedarás a documentación, materiales publicitarios exclusivos y recursos online con la última información del mercado y productos.</p>		      			
		      		</div>
		      	</div>
		      	<p class="text-left ">
							<a class="btn-more hidden" href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}" title="Empieza ahora">
									Empieza ahora <i class="fa fa-chevron-circle-right custom"></i>
							</a>

			        <a href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}" class="btn-u btn-u-lg btn-u-upper btn-u-blue g-mt-20" title="Programa partners">Programa partners</a>

		      	</p>
					</div>
				</div>
			</div>
		</div>
</section>