<section id="programa-partners" class="area-distribuidores">
		<div class="container-fluid" >
			<div class="row ">
				
				<div class="area-distribuidores-img col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
						<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/assets/partners-side.jpg" alt="." />
				</div>
				
				<div class="area-distribuidores-text col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<div class="inner">						
	   		    <h2 class="headline-after g-mt-40">
		        	<span class="headline-name">Programa para partners</span>
		        	Trabaja con los mejores
	        	</h2>
		        <p class="lead g-mb-40">
			        Participa en nuestro programa para Partners y consigue ventajas competitivas.		        
		      	</p>
		      	<div class="row g-mb-30 beneficios">
		      		<div class="col-2xs-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 text-center">
								<span class="fa-stack">
								    <!-- The icon that will wrap the number -->
								    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
								    <!-- a strong element with the custom content, in this case a number -->
								    <strong class="fa-stack-1x">
								        1   
								    </strong>
								</span>

			      		<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-thumbs-o-up   "></i> -->
		      		</div>
		      		<div class="col-2xs-9 col-xs-9 col-sm-9 col-md-10 col-lg-8">
				      		<h3 class="g-mb-15">Serás el referente en servicio</h3>
				      		<p>Elegimos empresas con experiencia y calidad contrastada. Nuestra marca avala la disponibilidad de productos CASIO y sus servicios. </p>
		      		</div>
		      	</div>
		      	<div class="row g-mb-30 beneficios">
		      		<div class="col-2xs-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 text-center">
				      	<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-plug"></i> -->

								<span class="fa-stack">
								    <!-- The icon that will wrap the number -->
								    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
								    <!-- a strong element with the custom content, in this case a number -->
								    <strong class="fa-stack-1x">
								        2   
								    </strong>
								</span>
		      		</div>
		      		<div class="col-2xs-9 col-xs-9 col-sm-9 col-md-10 col-lg-8">
			      		<h3 class="g-mb-15">Acceso a nuevos clientes</h3>
			      		<p>Podrás acceder a un amplio sector de clientes potenciales para otros negocios del distribuidor.</p>
		      		</div>
		      	</div>
		      	<div class="row g-mb-30 beneficios">
		      		<div class="col-2xs-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 text-center text-left-2xs">
				      	<!-- <i class="icon-custom icon-lg rounded-x icon-color-default fa fa-line-chart"></i>		     			 -->
								<span class="fa-stack">
								    <!-- The icon that will wrap the number -->
								    <span class="icon-lg rounded-x icon-color-default fa fa-circle-o fa-stack-2x"></span>
								    <!-- a strong element with the custom content, in this case a number -->
								    <strong class="fa-stack-1x">
								        3  
								    </strong>
								</span>
		      		</div>
		      		<div class="col-2xs-9 col-xs-9 col-sm-9 col-md-10 col-lg-8">
			      		<h3 class="g-mb-15">Recursos para tu negocio</h3>
			      		<p>Accedarás a documentación, materiales publicitarios exclusivos y recursos online con la última información del mercado y productos.</p>		      			
		      		</div>
		      	</div>
		      	<div class="row g-mb-40 g-mt-20">
		      			<div class="col-sm-12">
					        <a href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}" class="btn-u btn-u-lg btn-u-upper btn-u-blue g-mt-20" title="Programa partners">Programa partners</a>
		      			</div>
		      	</div>
					</div>
				</div>
			</div>
		</div>
</section>