		<section id="area-distribuidores" class="action-section g-color-white--darker g-bg-gray g-pt-10 g-pb-10">
			<div class="action-section-inner">
	      <div class="g-max-width--650 g-margin-side-auto page-scroll">
	        <h2 class="g-mb-20 g-color-white headline-after">
		        <span class="headline-name">Programa para partners</span>
	        	Trabaja con los mejores
	        </h2>
	        <p class="g-color-white g-mb-20">
	        	Participa en nuestro programa para Partners y consigue ventajas competitivas.
	        </p>
	        <p class="lead g-mb-40">
	        	<a href="#ventajas-para-partners" class="g-color-third">Conoce las ventajas para distribuidores &raquo;</a>	        
	        </p>
	        <a href="#ventajas-para-partners" class="hidden btn-u btn-u-lg btn-u-upper btn-u-sea g-mb-20 g-mr-30 g-3xs-mb-20 g-3xs-mr-0">Ventajas del programa distribuidores</a><div class="visible-3xs clearfix"></div>
	      </div>
			</div>
		</section>
