	<section id="consumo" class="soluciones-section soluciones-consumo-section text-center--2xs ">
		
		<!-- title -->
		<div class="container-fluid g-bg-blue g-pt-40 g-pb-40">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-70 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones de Consumo</span>
	        	Gama de soluciones de consumo
        	</h2>
	        <p class="lead ">Ya sea en un restaurante, bar o tienda: gracias a su diseño elegante, nuestros modelos de soluciones de consumo encajan perfectamente en el entorno moderno de la hostelería y el comercio.</p>
	      </div>
		</div>

		<!-- Bodegon -->
		<div class="container-fluid soluciones-imagen soluciones-consumo-imagen">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/assets/products-consumo.png" alt="Casio Soluciones de consumo" />						
				</div>
			</div>
		</div>

		<div class="container-fluid  content-md">
				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center g-mt-10 g-mb-40">
						<h3 class="headline-title ">Modelos recomendados para soluciones de consumo</h3>
					</div>
				</div>

				<!-- Productos de consumo -->
				<!-- Fila 1 -->
				<div class="row row-product-thumbnail equal-height-columns g-mb-40">
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-1c.png" alt="Casio SE-400/C4500">
								<div class="caption">
									<h4>SE-S400</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-S400-l.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-2.png" alt="Casio SE-C450">
								<div class="caption">
									<h4>SE-C450</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-3.png" alt="Casio SE-S3000">
								<div class="caption">
									<h4>SE-S3000</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
				</div>
				<!-- Fila 2 -->
				<div class="row row-product-thumbnail equal-height-columns g-mb-40">
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-4.png" alt="Casio SE-C3500">
								<div class="caption">
									<h4>SE-C3500</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">
								<div id="carousel-SE-S100" class="carousel slide " data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carousel-SE-S100" data-slide-to="0" class="color color-SE-S100-oro active"></li>
										<li data-target="#carousel-SE-S100" data-slide-to="1" class="color color-SE-S100-plata"></li> 
										<li data-target="#carousel-SE-S100" data-slide-to="2" class="color color-SE-S100-rojo"></li>
										<li data-target="#carousel-SE-S100" data-slide-to="3" class="color color-SE-S100-negro"></li>
									</ol>
									<div class="text-center carousel-inner" role="listbox">
								    <div class="item active text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-5-GD.png" alt="Casio SE-S100-S-G" title="Casio SE-S100-S-G">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-5-SL.png" alt="Casio SE-S100-S-SR Plata" title="Casio SE-S100-S-SR Plata">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-5-RD.png" alt="Casio SE-S100-S-RD" title="Casio SE-S100-S-RD">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-5-BK.png" alt="Casio SE-S100-S-BK" title="Casio SE-S100-S-BK">
								    </div>
									</div>
	

								</div>

								<div class="caption">
									<h4>SE-S100</h4>
									<p  class="g-mb-20">Pon un toque de estilo a tu negocio. Está diseñada para una óptima operatividad, con pantalla LCD de fácil lectura, impresora térmica de alto rendimiento y un práctico teclado de uso fácil. Compatible con tarjeta SD para guardar ajustes y datos de ventas.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-S100.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="product-thumbnail">

								<div id="carousel-SE-G1" class="carousel slide " data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carousel-SE-G1" data-slide-to="0" class="color color-SE-G1-rojo active"></li>
										<li data-target="#carousel-SE-G1" data-slide-to="1" class="color color-SE-G1-azul "></li>
										<li data-target="#carousel-SE-G1" data-slide-to="2" class="color color-SE-G1-rosa"></li> 
										<li data-target="#carousel-SE-G1" data-slide-to="3" class="color color-SE-G1-blanco"></li>
										<li data-target="#carousel-SE-G1" data-slide-to="4" class="color color-SE-G1-negro"></li>
									</ol>
									<div class="text-center carousel-inner" role="listbox">
								    <div class="item active text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-6-RD.png" alt="Imagen de Casio SE-G1">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-6-BL.png" alt="Imagen de Casio SE-G1">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-6-PK.png" alt="Imagen de asio SE-G1">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-6-WH.png" alt="Imagen de Casio SE-G1">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/consumo/consumo-6-BK.png" alt="Casio SE-G1">
								    </div>
									</div>
								</div>
								<div class="caption">
									<h4>SE-G1</h4>
									<p class="g-mb-20">Su diseño y variedad de colores hará única tu tienda y sorprenderás a tus clientes. Simple y de sencilla utilización, te permite personalizar tus facturas. Dispone de LCD de gran visiblilidad y bandeja polivalente para monedas y billetes.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/docs/Ficha_SE-G1.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
				</div>
 
		</div>
	</section>
