	<section id="soluciones" class="soluciones-section soluciones-pro-section text-center--2xs g-pt-10 g-pb-40">
		<div class="container ">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mt-10 g-mb-40 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones Profesionales</span>
	        	Diseñado para la <span>Hostelería y el Comercio</span>
        	</h2>
	        <p class="lead g-mb-30">Sabemos que tu negocio te lleva a tener un ritmo estresante y con una gran exigencia. También somos conscientes de que la tecnología puede fallarte, causando frustraciones, retrasos en los pedidos, mostrando un servicio poco profesional. Es por este motivo que te ofrecemos una solución TPV estable, para tu tranquilidad.</p>

	      </div>

    </div>
    <!-- Imagen -->
		<div class="container-fluid soluciones-imagen">
			<div class="row">
				<div class="col-10 col-offset-1 text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/assets/products-profesional.png" alt="Casio Soluciones Profesionales" />						
				</div>
			</div>
		</div>
    <!-- Beneficios -->
		<div id="beneficios" class="container-fluid soluciones-beneficios" >
			<!-- title -->
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center g-mt-40 g-mb-30">
	       	<h2 class="headline-title g-mb-20 g-mt-40 ">Conoce los beneficios</h2>

				</div>
			</div>
			<!-- Service Block v8 -->
			<div class="row ">

				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class=" icon-custom icon-color-default icon-lg fa fa-android"></i>
						<div class="service-block-desc">
							<h4>Plataforma Android</h4>
							<p>Aprovechamos la potencia de la plataforma Android™, adaptada a medida para nuestro hardware, que nos permite ofrecer una solución más versátil para el mercado.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-wrench   "></i>
						<div class="service-block-desc">
							<h4>Bajo Consumo</h4>
							<p>Los TPVs de Casio consumen a pleno rendimiento 18W (VR200) y 22W (VR7000), frente a los 285W (promedio de equipos Windows). Esto se traduce en ahorro significativo de costes.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

			<!-- Service Block v8 -->
			<div class="row " >
				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-flag    "></i>
						<div class="service-block-desc">
							<h4>Fácil Manejo</h4>
							<p>El software ERA de Casio ha sido desarrollado con la premisa de que su aprendizaje y utilización sea muy fácil. La única manera de que el personal se sienta cómodo con una herramienta de trabajo es haciéndolo amigable y ergonómico. Si a esto le sumamos la simplicidad de Android™, minimizamos la curva de aprendizaje de trabajadores nuevos. Realiza un <a href="https://www.casio-ecr.es/demo/" title="Tour virtual del software">tour virtual</a>.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-battery-full    "></i>
						<div class="service-block-desc">
							<h4>Fiabilidad y Robustez</h4>
							<p>Las soluciones Casio están pensadas para trabajar en entornos de trabajo 24x7. Si se produjera una interrupción de energía, nuestros equipos no pierden ningún dato, algo imposible en equipos basados en Windows. Además, la pantalla es resistente al agua y polvo según el standard IP53, lo que significa que los derrames y limpieza diarios no son un problema.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

			<!-- Service Block v8 -->
			<div class="row  g-mb-30">
				<div class="col-sm-6 sm-margin-bottom-50">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-cloud   "></i>
						<div class="service-block-desc">
							<h4>Backoffice Cloud</h4>
							<p>Un paquete completo de back-office basado en la web que le permite administrar cada aspecto de tus terminales TPV y su parte en su negocio.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-pencil   "></i>
						<div class="service-block-desc">
							<h4>Diseño Elegante</h4>
							<p>Un diseño delgado con una pantalla a color vibrante y una interfaz de usuario personalizable que crea un aspecto atractivo e intuitivo que tu personal apreciará.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

		</div>
		<!-- Productos -->
		<div class="container-fluid content-md soluciones-productos g-pt-30 g-pb-50">
				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center g-mt-40 g-mb-40">
						<h3 class="headline-title ">Gama de soluciones profesionales</h3>
					</div>
				</div>
				<div class="row row-product-thumbnail ">
						<div class="col-md-4">
							<div class="product-thumbnail ">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/profesional/profesional-1.png" alt="Casio V-R7000">
								<div class="caption">
									<h4>V-R7000/V-R7100</h4>
									<p class="g-mb-20">Una nueva plataforma para la innovación en los comercios minoristas y la transformación de los puntos de venta</p>
									<p class="text-center">
										<a href="{{ '/' | prepend: site.data.global.url }}media/pdf/fichas/Ficha_V-R7000.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a>
									
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail ">

								<div id="carousel-V-R200" class="carousel slide " data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carousel-V-R200" data-slide-to="0" class="color color-V-R200-negro"></li>
										<li data-target="#carousel-V-R200" data-slide-to="1" class="color color-V-R200-blanco"></li>
									</ol>
									<div class="text-center carousel-inner" role="listbox">
								    <div class="item text-center active" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/profesional/profesional-2a.png" alt="Casio V-R200 Black">
								    </div>
								    <div class="item text-center" >
											<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/profesional/profesional-2b.png" alt="Casio V-R200 White">
								    </div>
									</div>
								</div>


								<div class="caption">
									<h4>V-R200</h4>
									<p class="g-mb-20">El terminal empresarial V-R200 funciona en la plataforma Android™ ideal para hostelería y proceedores de servicios.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/fichas/Ficha_V-R200.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail ">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/products/profesional/profesional-3.png" alt="Casio IT-G400">
								<div class="caption">
									<h4>IT-G400</h4>
									<p class="g-mb-20">Combina technología y usabilidad con la reconocida resistencia de los productos CASIO. Funciona con Android™.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/fichas/Ficha_IT-G400_EN.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
				</div>


		</div>

	</section>
