		<section class="infoblock-trio text-center--2xs" id="about">
			<div class="infoblock-trio-col infoblock-trio-col-1 g-bg-default">
				<div class="infoblock-trio-col-1-image" style="background-image: url(media/assets/about-casio-system-solutions.jpg);"></div>
				<div class="infoblock-trio-col-1-content">
					<div class="g-block-middle">
						<h3 class="g-mb-15 g-color-white">Ideal para cubrir las necesidades básicas de control y registro</h3>
						<p class="g-color-white--dark">Para negocios pequeños o de tamaño medio de Hostelería, Restauración, Comercio y Retail, monopuesto o en arquitecturas más complejas.
						<br><br>
						<strong>Fácil de usar</strong>. La aplicación de Punto de Venta es fácil e intuitiva, y sirve para muchos tipos de negocio con necesidades básicas de control y registro.</p>
					</div>
				</div>
			</div>
			<div class="infoblock-trio-col infoblock-trio-col-2">
				<div class="infoblock-trio-col-2-content g-bg-gray--light">
					<div class="g-block-middle">
						<h2 class="g-mb-30">¿Qué necesito para mi negocio?</h2>
						<p>Un sistema de gestión y control que:</p>
						<ul>
							<li>Me quepa en cualquier lado.</li>
							<li>No me consuma demasiado (ECO)</li>
							<li>Incorpore la última tecnología</li>
						</ul>
						<p>Maecenas sit amet lacinia lectus. Maecenas ut mauris risus. Quisque mi urna, mattis id varius nec, convallis eu odio. Integer eu malesuada leo, placerat semper neque. Nullam id volutpat dui, quis luctus magna. Suspendisse rutrum ipsum in quam semper laoreet. Praesent dictum nulla id viverra vehicula.</p>

						<p>Praesent blandit hendrerit justo sed egestas. Proin tincidunt purus in tortor cursus fermentum. Proin laoreet erat vitae dui blandit, vitae faucibus lacus auctor. Proin ornare sit amet arcu at aliquam.</p>

						<p>Aliquam mattis neque justo, non maximus dui ornare nec. Praesent efficitur velit nisl, sed tincidunt mi imperdiet at. Cras urna libero, fringilla vitae luctus eu, egestas eget metus. Nam et massa eros.</p>

					</div>
				</div>
			</div>
			<div class="infoblock-trio-col infoblock-trio-col-3 g-bg-gray">
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Professional staff</h3>
					<p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis disvarius velit. Class aptent taciti sociosqu ad litor.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Quality solutions</h3>
					<p>Cras ultricies nisl a leo tempus rhoncus. Nam mauris tellus, molestie quis purus sed, maximus vulputate lorem. Proin augue neque, mattis vel leo ac, porttitor laoreet felis.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Quick response</h3>
					<p>Morbi gravida magna vel odio accumsan, eu auctor diam sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia consequat.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Quick response</h3>
					<p>Morbi gravida magna vel odio accumsan, eu auctor diam sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia consequat.</p>
				</div>
			</div>
		</section>
