		<section class="infoblock-trio text-center--2xs" id="about">
			<div class="infoblock-trio-col infoblock-trio-col-1 g-bg-default">
				<div class="infoblock-trio-col-1-image hidden-xs" style="background-image: url(media/assets/about-casio-system-solutions.jpg);"></div>
				<div class="infoblock-trio-col-1-content">
					<div class="g-block-middle">
						<h3 class="g-mb-15 g-color-white">La confianza del sector en CASIO System Solutions</h3>
						<p class="g-color-white--dark">
							<strong>“Productos de toda la vida, para toda la vida”</strong> es un lema que se ha esparcido y constatado durante años entre el público que conoce la amplia gama de productos CASIO. 
							<br><br>
							Somos una empresa que trabaja allá <strong>donde convergen calidad de fabricación y duración excelente</strong> permitiendo al usuario estar tranquilo y confiado en nuestros productos. 
							<br><br>
		          <a class="btn-u btn-u-upper btn-u-default" href="{{ '/' | prepend: site.data.global.url }}media/pdf/catalogo-soluciones-CASIO.pdf">
		          	<i class="fa fa-arrow-circle-down"></i>
		          	&nbsp;Descarga nuestro catálogo
		          </a>	      		
						</p>						
					</div>
				</div>
			</div>
			<div class="infoblock-trio-col infoblock-trio-col-2">
				<div class="infoblock-trio-col-2-content g-bg-gray--light ">
					<div class="g-block-middle">
						<h2 class="g-mb-30">Cubren todas las necesidades en el punto de venta</h2>
						<p>Para negocios pequeños o de tamaño medio de Hostelería, Restauración, Comercio y Retail, monopuesto o en arquitecturas más complejas.</p>
						<p><strong>Cubren aquellos requisitos, desde los básicos y complejos, de control y registro</strong>.</p>
						<p>Incorporan la última tecnología adaptada para todos los públicos y perfiles laborales:</p>
						<ul class="g-mb-20">
							<li>Se instala rápidamente </li>
							<li>Es de fácil uso </li>
							<li>Adaptable al sector </li>
							<li>Recibe fácil soporte CASIO</li>
							<li>Recibe informes vía e-mail y móvil</li>
						</ul>
						<p>
						A través de nuestra red de distribuidores autorizados, CASIO España es una de las principales empresa en el mundo de los sistemas de cajas con un gran equipo de soporte y apoyo. 
						 </p>
						<p>
						Casio es un valor seguro. Sus productos de última generación, alta calidad y larga duración se unen a una atención al cliente combinando fiabilidad y excelencia.
						</p>
						<br><br>
					</div>
				</div>
			</div>
			<div class="infoblock-trio-col infoblock-trio-col-3 g-bg-gray">
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">40 años en el sector</h3>
					<p>Las 4 décadas de CASIO System Solutions en un sector económico fundamental para la economía española demuestran el compromiso con la tecnología y los empresarios.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">A la vanguardia en innovación</h3>
					<p>De bajo consumo de energía (-85% del consumo normal) y con los primeros terminales Android™ punto de venta con software para hostelería y comercio en español.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Productos duraderos</h3>
					<p>Hemos sido galardonados con el sello ISSOP por nuestra excelencia creando productos sostenibles y respetuosos con el medio ambiente.</p>
				</div>
				<div class="infoblock-trio-col-3-content">
					<h3 class="g-mb-15 g-color-white">Adaptadas a la normativa española</h3>
					<p>Nuestros modelos están actualizados a las exigentes necesidades del sector. Además, cubren nuevas necesidades como facturas simplificadas.</p>
				</div>
			</div>
		</section>
