
		<section class="contacts-section g-pt-90 g-pb-90" id="contacto">
			<div class="container">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-40">
	        <h2 class="headline-after">
		        <span class="headline-name">Contacto</span>
	        	Contacta con nuestro equipo especializado
        	</h2>
					<p class="lead">
						Consigue las soluciones profesionales y servicios más avanzados. Resolveremos tus cuestiones de forma personalizada. 
					</p>
	        <p class="lead">
						Te atenderemos si rellenas el siguiente formulario, nos envías un e-mail o nos haces una llamada telefónica. Nuestro horario es {{ site.data.global.horario }}. 
					</p>
	      </div>

				<!-- Contact Details -->
				<ul id="contacto-details" class="list-unstyled row text-center">
					<li class="col-md-4 contact-blocks">
							<i class="icon-custom icon-color-default icon-lg fa fa-envelope-o"></i>
							<h4>Email</h4>
							<span class="g-display-block g-color-white">info@casio-ecr.es</span>
					</li>
					<li class="col-md-4 contact-blocks">
							<i class="icon-custom icon-color-default icon-lg fa fa-phone"></i>
							<h4>Teléfono</h4>
							<span class="g-display-block g-color-white">934 858 400</span>
					</li>
					<li class="col-md-4 contact-blocks">
							<i class="icon-custom icon-color-default icon-lg fa fa-fax"></i>
							<h4>Fax</h4>
							<span class="g-display-block g-color-white">934 858 440</span>
					</li>
				</ul>
				<!-- Contact Details -->

	      <!-- Contact Form -->
		     <div class="row text-center g-mt-60">
		        <h4>Formulario de contacto</h4>
		      </div>
		  		<form action="https://acumbamail.com/newform/subscribe/e1fcQ4VIblfO9s3LEdz3WFhmd/6210/" method="post" id="sky-form5" class="sky-form g-max-width--770 g-margin-side-auto">
		  			<fieldset>
				  		<div class="row g-mb-30">
				  			<div class="col-sm-12">
			            <label class="input">
			              <input type="text" id="fieldName" name="char_01" placeholder="Su nombre" required>
			            </label>
				  			</div>
				  		</div>


				  		<div class="row">
				  			<div class="col-sm-6 g-mb-30">
			            <label class="input">
			              <input type="text"  id="fieldEmail" name="email_1" placeholder="Su e-mail" required >
			            </label>
				  			</div>
				  			<div class="col-sm-6 g-mb-30">
			            <label class="input">
			              <input type="text" id="fielddyolhdk" name="char_03" placeholder="Su nº de teléfono" required >
			            </label>
				  			</div>
				  		</div>

				  		<div class="row g-mb-30">
				  			<div class="col-sm-12">
			            <label class="input">
			              <input type="text" id="fielddyolhdu" name="char_04"  placeholder="Motivo de la consulta">
			            </label>
				  			</div>
				  		</div>

				  		<div class="row g-mb-40">
				  			<div class="col-sm-12">
			            <label class="textarea textarea-expandable">
			              <textarea rows="3" id="fielddyolhhl" name="text_1" placeholder="Explíquenos su consulta, por favor" required></textarea>
			            </label>
				  			</div>
				  		</div>

				  		<div class="text-center">
				        <input name="char_02"  type="hidden" value="website::contacto" />
				        <input type="hidden" name="ok_redirect" value="http://www.casio-ecr.es/hemos-recibido-tu-solicitud-de-contacto/">
				  			<input type="submit" value="Enviar solicitud de contacto" class="btn-u btn-u-lg btn-u-upper btn-brd "/>
				  		</div>
			  		</fieldset>


		  		</form>

	       <!-- /Contact Form -->
			</div>
		</section>
		{% comment %}

				<!-- Form Acumbamail -->
				<form action="https://acumbamail.com/newform/subscribe/e1fcQ4VIblfO9s3LEdz3WFhmd/6210/" method="post" class="yourFormCustomContainer">
				   <div class="yourFormCustomStyle">
				      <div style="width: 100%; position:relative;"> 

				      	<label for="char_01"><p>Nombre</p> </label> <br />
				      	<input type="text" name="char_01" required><br /> 

				      	<label for="email_1"><p style="font-family: Trebuchet MS;">Email</p> </label> <br />
				      	<input type="text" name="email_1" required><br /> 

				      	<label for="char_03"><p>Telefono</p> </label> <br />
				      	<input type="text" name="char_03" required><br /> 

				      	<label for="char_04"><p>Motivo de la consulta</p> </label> <br />
				      	<input type="text" name="char_04" required><br /> 

				      	<label for="text_1"><p>Consulta</p> </label> <br />
				      	<input type="text" name="text_1" required><br /> 

				      	<label for="char_02"><p>Origen</p> </label> <br />
				      	<input type="text" name="char_02" required><br />
				      </div>
				   </div>
				   <input type="hidden" name="ok_redirect" value="http://www.casio-ecr.es/hemos-recibido-tu-solicitud-de-contacto/">
				   <input type="submit" value="Suscribirme a la lista" class="yourButtonCustomStyle">
				</form>
				<!-- End Form Acumbamail -->			

		{% endcomment %}
