		<section class="login-section g-bg-dark g-pt-50 g-pb-25">
			<div class="container">
	      <!-- Newsletter Form -->
	  		<form action="http://email.casio-ecr.es/t/r/s/ddurtit/" class="sky-form g-margin-side-auto" method="post" id="sky-form1">
		  		<div class="row">
		  			<div class="col-sm-4 col-xs-6 col-2xs-12 g-mb-20">
	            <h3 class="g-mb-15 g-mt-10 g-color-white">Suscríbete a nuestro newsletter</h3>
		  			</div>
		  			<div class="col-sm-6 col-xs-6 col-2xs-12 g-mb-20">
	            <label class="input">
	              <input id="fieldEmail" name="cm-ddurtit-ddurtit" type="email" required placeholder="Tu correo electrónico">
	            </label>
		  			</div>
			  		<div class="col-sm-2 g-mb-20">
			  			<input id="fielddyliyult" name="cm-f-dyliyult" type="hidden" value="website homepage" />
			  			<button type="submit" class="btn-u btn-u-lg btn-u-upper btn-block btn-u-dark">Suscribir</button>
			  		</div>
		  		</div>
	  		</form>
	      <!-- /Newsletter Form -->
			</div>
		</section>
