		<section class="projects-section text-center--2xs g-pt-40 g-pb-40" id="projects">
			<div class="container-fluid">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-40 projects-intro">
	        <h2 class="headline-after ">
		        <span class="headline-name  ">Casos de éxito</span>
	        	¿Quieres que hagamos de tus instalaciones Casos de éxito?</h2>
	        <p class="lead ">Conoce nuestros avances tecnológicos y la experiencia de nuestros clientes.</p>
	      </div>

	      <!-- More News -->
				{% for item in site.data.noticias %}
					{% capture currentmod %}{{ forloop.index0 | mod:3 }}{% endcapture %}
					{% if currentmod == '0' or forloop.first %}
		      <div class="row row-projects">
  				{% endif %}
		      	<div class="col-sm-4 g-mb-40">
		      		<div class="project-item">
				        <img src="{{ item.media }}" alt="{{ item.title }}" title="{{ item.title }}"  class="img-responsive">
				        <div class="project-item__content">
				          <h3 class="g-mb-20">{{ item.headline }}</h3>
				          {{ item.text | markdownify }}
									<p class="no-margin-bottom g-mt-30"><a class="read-more " href="{{ item.pdf }}" target="_blank"><i class="fa fa-file-pdf-o">&nbsp;</i>Leer en PDF</a></p>
				        </div>
		      		</div>
		      	</div>
					<!-- Modulo 3 equals 0, only -->
					{% if currentmod == '2' or forloop.last %}
					</div>
	     		{% endif %}

					{% if forloop.last %}
		      <!-- More news -->
		      <div class="row row-more">
		      	<div class="col-sm-12 g-mb-30 text-center">
								<p class="lead">
									<a class="btn-more " href="#" title="Ver todas las noticias y casos de éxito">
											Ver todos los casos <i class="fa fa-chevron-circle-right custom"></i>
									</a>
									
								</p>

								<a class="hidden btn-more btn-u btn-u-lg btn-u-upper btn-u-blue" href="#" title="Ver todas las noticias y casos de éxito">
										Ver más casos de éxito
								</a>
		      	</div>	
		      </div>
	     		{% endif %}
  			{% endfor %}

	      {% comment %}
	      <div class="row row-projects">
	      	<div class="col-sm-4 g-mb-30">
	      		<div class="project-item">
			        <img src="media/noticias/caso-banna-thai.jpg" alt="Restaurante Banna" class="img-responsive">
			        <div class="project-item__content">
			          <h3 class="g-mb-20">El restaurante "Banna" escoge la solución TPV V-R7000</h3>
			          <p>El restaurante situado en plena Plaça Revolució de Setembre 1868, en el corazón del barrio de Gracia, Barcelona, tiene como credo el hacer viajar a sus comensales a las auténticas sensaciones Thai.</p>
								<p class="no-margin-bottom g-mt-30"><a class="read-more" href="/media/pdf/casos/Banna.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Leer en PDF</a></p>
			        </div>
	      		</div>
	      	</div>
	      	
	      	<div class="col-sm-4 g-mb-30">
	      		<div class="project-item">
			        <img src="media/noticias/caso-dondeeljamon.jpg" alt="Donde el jamon" class="img-responsive">
			        <div class="project-item__content">
			          <h3 class="g-mb-20">Así ayudó la plataforma Android de CASIO a una taberna de ibéricos</h3>
			          <p>El propietario de <b>“Donde el jamón”</b>, en pleno centro de Palma de Mallorca sabía que, para atender a un gran volumen de clientes, debía tener un sistema ágil y sencillo para su personal.</p>
								<p class="no-margin-bottom g-mt-30"><a class="read-more" href="/media/pdf/casos/Donde-el-jamon.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Leer en PDF</a></p>
			        </div>
	      		</div>
	      	</div>
	      	
	      	<div class="col-sm-4 g-mb-30">
	      		<div class="project-item">
			        <img src="media/noticias/caso-La-Cala-Cal-Pep.jpg" alt="Restaurant La Cala Cal Pep" class="img-responsive">
			        <div class="project-item__content">
			          <h3 class="g-mb-20">La "Cala Cal Pep" apuesta por la excelencia de las soluciones CASIO</h3>
			          <p>La cocina, el restaurante, los clientes, el entorno paradisiaco que nos rodea, el apoyo incondicional de mi familia y el uso de las nuevas tecnologías. Quizás por ello confío a Vila Torrent y a Casio la parte de Control y Registro del negocio.</p>
								<p class="no-margin-bottom g-mt-30"><a class="read-more" href="/media/pdf/casos/La-Cala-Cal-Pep.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Leer en PDF</a></p>
			        </div>
	      		</div>
	      	</div>
	      </div>
	      {% endcomment %}

	    </div>
	  </section>
