<section id="nuestra-historia" class="history-section g-pt-50 g-pb-50" >
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-6 col-xs-12 col-2xs-12">
        <h2 class="g-mb-10">
        	40 años de experiencia
      	</h2>
				<p class="lead g-mb-30">Casio ha estado en el negocio de la caja registradora electrónica durante más de 40 años, y lanzó su primer producto en 1976.</p>
	      <a class="btn-u btn-u-lg btn-u-upper btn-u-sea g-px-40"  href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_historia}}">Conozca nuestra historia</a>	      						
			</div>
			<div class="col-lg-6 col-lg-offset-0 col-md-offset-2 col-md-8 col-sm-6 col-xs-12 col-2xs-12">
				<img src="{{ '/' | prepend: site.data.global.url }}media/images/home-historia-1.gif" alt="40 años de Casio System Solutions" class="img-responsive " />						

			</div>
			
		</div>
	</div>

</section>