		<section id="ventajas-para-partners" class="ventajas-section g-bg-gray--light g-pt-60 g-pb-60" >
			<div class="container">
	      <div class="intro text-center g-max-width--770 g-margin-side-auto g-mb-60">
	        <h2 class="headline-after">
	        	<span class="headline-name hidden">Programa para partners</span>
	        	Ventajas de ser distribuidor oficial
        	</h2>
	        <p class="lead"><strong>Hazte distribuidor oficial de CASIO</strong> y añade una ventaja competitiva a tu negocio. 
	        <br>
	        El certificado CASIO ECR Partners acredita a los distribuidores como empresas solventes y de calidad.</p>
	      </div>

	      <div class="text-center row">
	      	<div class="col-sm-4 g-mb-30">
	      		<!-- thumbs-up or heart -->
	      		<i class="icon-custom icon-lg rounded-x icon-color-default fa fa-thumbs-o-up   "></i>
	      		<h3 class="g-mb-15">Confirmamos al distribuidor como referente en servicio y atención.</h3>
	      		<p>Elegimos empresas con larga experiencia y calidad contrastada. Nuestra marca avala la disponibilidad de productos CASIO y sus servicios. </p>
	      	</div>
	      	<div class="col-sm-4 g-mb-30">
	      	<i class="icon-custom icon-lg rounded-x icon-color-default fa fa-plug"></i>
	      		<h3 class="g-mb-15">Ventaja competitiva al acceder a un gran número de clientes fieles</h3>
	      		<p>La empresa, al ser representante de CASIO a nivel local, accede a un amplio sector de clientes potenciales para otros negocios del distribuidor.</p>
	      	</div>
	      	<div class="col-sm-4 g-mb-30">
	      	<i class="icon-custom icon-lg rounded-x icon-color-default fa fa-line-chart"></i>
	      		<h3 class="g-mb-15">Aumenta el tamaño de su negocio.</h3>
	      		<p>Ser parte de CASIO es tener acceso a nuestra experiencia, información y material exclusivo. Acceden a bases de datos, material publicitario oficial y recursos online sobre la última información del mercado y productos.</p>
	      	</div>
	      </div>
	      <div class="text-center row">
	      	<div class="col-xs-12 g-mb-30">
	          <a class="btn-u btn-u-lg btn-u-upper" href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}">Únete a la red de distribuidores CASIO</a>	      		
	      	</div>
	      </div>

	    </div>
	  </section>
