		<section class="action-section g-color-white--darker g-bg-gray g-pt-10 g-pb-10" id="">
			<div class="action-section-inner">
	      <div class="g-max-width--900 g-margin-side-auto page-scroll">
	        <h2 class="g-mb-20 g-color-white">Trabaja con los mejores</h2>
	        <p class="g-color-white--dark g-mb-40"><strong>Hazte distribuidor oficial de CASIO</strong>. <br>Participa en nuestro programa para Partners y consigue ventajas competitivas.</p>
	        <a href="#partners" class="btn-u btn-brd btn-u-lg btn-u-upper  g-mb-20 g-mr-30 g-3xs-mb-20 g-3xs-mr-0">Ventajas para distribuidores</a><div class="visible-3xs clearfix"></div><a href="{{ '/' | prepend: site.data.global.url }}{{site.data.global.url_distribuidor}}" class="btn-u btn-u-lg btn-u-upper ">Participa en el programa</a>
	      </div>
			</div>
		</section>
