		<section class="promo-section text-center"  id="welcome">
			{% for item in site.data.productos %}
		    <div class="promo-item" data-title="{{ item.title }}" style="background-image: url({{ item.media }});">
		      <div class="container">
		        <div class="promo-item-content">
		          <h3>{{ item.headline }}</h3>
	          	{{ item.text | markdownify }}
		          <div class="page-scroll">
			          <a class="btn-u btn-u-lg btn-u-upper g-mt-20" href="{{ item.url }}">{{ item.button }}</a>
		          </div>
		        </div>
		      </div>
		    </div>
			{% endfor %}
		</section>
