		<section class="promo-section text-center"  id="welcome">
			{% for item in site.data.productos %}
		    <div class="promo-item" data-title="{{ item.title }}" style="background-image: url({{ item.media }});">
		      <div class="container">
		        <div class="promo-item-content {{ item.class }}">
		          <h3>
		          	<span class="visible-xs">{{ item.title }}</span>
		          	{{ item.headline }}
	          	</h3>
	          	{{ item.text | markdownify }}
		          <div class="page-scroll">
			          <a class="btn-u btn-u-lg btn-u-upper btn-u-primary g-mt-20 g-mr-30 g-3xs-mb-20 g-3xs-mr-0" href="{{ item.url }}">{{ item.button }} &nbsp;<i class="fa fa-angle-double-right  "></i></a>

	              {% if item.pdf_url != '' %}
									<div class="visible-3xs clearfix"></div>
									<a href="{{ item.pdf_url | prepend: site.data.global.url }}" target="_blank" class="btn-u btn-brd btn-u-lg btn-u-upper">
									<i class="fa fa-file-pdf-o "></i>Descarga ficha en PDF </a> 
	    					{% endif %}  

		          </div>
              {% if item.call != '' %}
			          <h4 class="g-mt-40">{{ item.call }}</h4>
    					{% endif %}  
		        </div>
		      </div>
		    </div>
			{% endfor %}
		</section>
