		<section class="soluciones-section g-pt-90 text-center--2xs " id="soluciones">
			<div class="container">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-40 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones</span>
	        	Una solución para cada necesidad
        	</h2>
	        <p class="g-color-dark lead">Sistemas de cajas ideales para cubrir las necesidades de control y registro en negocios de hostelería, comercio y retail, hasta arquitecturas más complejas.</p>
	      </div>
	    </div>
			<div class="infoblocks">
				{% for item in site.data.sectores %}
					<div class="infoblock-item" data-title="{{ item.title }}">
				    <div class="infoblock g-bg-dark">
				      <!-- Infoblock info -->
							<div class="infoblock-content page-scroll">
								<h3 class="g-mb-25 g-color-white">{{ item.headline }}</h3>
								{{ item.text | markdownify }}
								<a class="btn-u btn-u-lg btn-u-upper g-mt-30" href="{{ item.url }}">{{ item.button }}</a>
				  		</div>
				      <!-- /Object info -->
				      <div class="infoblock-img hidden-2xs" style="background-image: url({{ item.media }});"></div>
						</div>
					</div>
				{% endfor %}

			</div>
	  </section>
