<section class="action-section g-pt-10 g-pb-10  g-color-white" id="software">	
	<div class="action-section-inner">
    <div class="g-max-width--770 g-margin-side-auto  page-scroll">
			<h1 class="g-color-white g-mb-20">Apps y software adaptado a tu negocio.</h1>
			<p class="g-color-white">Creamos aplicaciones y herramientas para nuestros sistemas de cajas y comanderos ideales para facilitar la gestión del establecimiento, ahorrando tiempo y dinero para descubrir las oportunidades de tu negocio.
			</p>

	    <h5 class="g-mt-20 g-mb-50"><a href="http://demo.casio-ecr.es/" class="btn-u btn-u-sea btn-u-lg btn-u-upper  g-mb-20 g-mr-30 g-3xs-mb-20 g-3xs-mr-0" target="_blank">Prueba la App Casio Restaurant </a> </h5>

			<h4 class="g-mt-20 hidden"><a href="http://demo.casio-ecr.es/"  target="_blank">Prueba la demo</a> <i class="rounded-x icon-color-link fa fa-arrow-circle-right"></i></h4>
    </div>
	</div>
</section>
