	<section id="consumo" class="soluciones-section text-center--2xs g-pt-20 g-pb-0">
		<div class="container content-md">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-50 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones de Consumo</span>
	        	Cajas registradoras
        	</h2>
	        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt finibus dapibus. Integer bibendum finibus scelerisque. Morbi aliquet libero ac condimentum pharetra. Vivamus eleifend mauris vel dui egestas auctor.</p>
	      </div>

				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
						<h3 class="headline-title">Cajas individuales</h3>
					</div>
				</div>

		</div>


		<div class="container">
				<div class="row equal-height-columns">
						<div class="col-md-6">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/seg1blue.png" alt="">
								<div class="caption">
									<h4>SE-S100<br><br></h3>
									<p class="g-mb-20">Una nueva plataforma para la innovación en los comercios minoristas y la transformación de los puntos de venta</p>
									<p><a href="#" class="btn-u btn-block btn-u-seaaaaaa ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/seg1-white.png" alt="">
								<div class="caption">
									<h4>SE-400/C4500<br>SE-S300/C3500</h4>
									<p  class="g-mb-20">El terminal empresarial V-R200 funciona en la plataforma Android™ ideal para hostelería y proceedores de servicios.</p>
									<p><a href="#" class="btn-u btn-block btn-u-seaaaaaa ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/seg1-pink.png" alt="">
								<div class="caption">
									<h4>SE-G1<br><br></h4>
									<p class="g-mb-20">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
									<p><a href="#" class="btn-u btn-block btn-u-seaaaaaa">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
				</div>


		</div>



		{% comment %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/tmp.png" alt="." />						
				</div>
			</div>
		</div>
		{% endcomment %}

	</section>
