	<section id="consumo" class="soluciones-section soluciones-consumo-section text-center--2xs ">
		
		<!-- title -->
		<div class="container-fluid g-bg-blue g-pt-40 g-pb-40">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-70 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones de Consumo</span>
	        	Gama de soluciones de consumo
        	</h2>
	        <p class="lead ">Ya sea en un restaurante, bar o tienda: gracias a su diseño elegante, nuestros modelos de soluciones de consumo encajan perfectamente en el entorno moderno de la hostelería y el comercio.</p>
	      </div>
		</div>

		<!-- Bodegon -->
		<div class="container-fluid soluciones-consumo-imagen">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/products-consumo.png" alt="Casio Soluciones de consumo" />						
				</div>
			</div>
		</div>

		<div class="container-fluid  content-md">
				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center g-mt-10 g-mb-40">
						<h3 class="headline-title ">Modelos recomendados para soluciones de consumo</h3>
					</div>
				</div>

				<!-- Productos de consumo -->
				<!-- http://www.newhorizon-systems.co.uk/ekmps/shops/newhorizon/images/casio-se-s400-300-p.jpg -->
				<!-- Fila 1 -->
				<div class="row row-product-thumbnail equal-height-columns g-mb-40">
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-1.png" alt="Casio SE-400/C4500">
								<div class="caption">
									<h4>SE-S400</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-S400-l.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-2.png" alt="Casio SE-C450">
								<div class="caption">
									<h4>SE-C450</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-3.png" alt="Casio SE-S3000">
								<div class="caption">
									<h4>SE-S3000</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
				</div>
				<!-- Fila 2 -->
				<div class="row row-product-thumbnail equal-height-columns g-mb-40">
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-4.png" alt="Casio SE-C3500">
								<div class="caption">
									<h4>SE-C3500</h4>
									<p  class="g-mb-20">Ya sea para tiendas pequeñas o para cafeterías, bares y locales de comida rápida: el diseño moderno y elegante de la SE-S400, con sus funciones innovadoras, encaja perfectamente en el entorno moderno de la hostelería y el comercio.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-todas.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-5.png" alt="Casio SE-S100">
								<div class="caption">
									<h4>SE-S100</h4>
									<p  class="g-mb-20">Pon un toque de estilo a tu negocio. Está diseñada para una óptima operatividad, con pantalla LCD de fácil lectura, impresora térmica de alto rendimiento y un práctico teclado de uso fácil.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-S100.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-6.png" alt="Casio SE-G1">
								<div class="caption">
									<h4>SE-G1</h4>
									<p class="g-mb-20">Su diseño y variedad de colores hará única tu tienda y sorprenderás a tus clientes. Simple y de sencilla utilización.</p>
									<p class="text-center"><a href="{{ '/' | prepend: site.data.global.url }}media/pdf/Ficha_SE-G1.pdf" class="btn-u btn-u-default btn-u-xs btn-u-blue"><i class="fa fa-file-pdf-o "></i>Ficha técnica</a></p>
								</div>
							</div>
						</div>
				</div>
 
		</div>



		{% comment %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/tmp.png" alt="." />						
				</div>
			</div>
		</div>
		{% endcomment %}

	</section>
