	<section id="soluciones" class="soluciones-section text-center--2xs g-pt-60 g-pb-40">
		<div class="container ">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mt-10 g-mb-40 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones Profesionales</span>
	        	Diseñado para la <span>Hostelería y el Comercio</span>
        	</h2>
	        <p class="lead g-mb-30">Sabemos que tu negocio te lleva a tener un ritmo estresante y con una gran exigencia. También somos conscientes de que la tecnología en el corazón de tu negocio puede fallarte, causando frustraciones, retrasos en los pedidos y un servicio poco profesional es por este motivo que te ofrecemos una solución TPV para su paz mental.</p>

	      </div>

    </div>
    <!-- Imagen -->
		<div class="container-fluid soluciones-imagen">
			<div class="row">
				<div class="col-10 col-offset-1 text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/products-profesional.png" alt="Casio Soluciones Profesionales" />						
				</div>
			</div>
		</div>
    <!-- Beneficios -->
		<div class="container-fluid soluciones-beneficios" >
			<!-- title -->
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center g-mt-40 g-mb-30">
	       	<h2 class="headline-title g-mb-20 g-mt-40 ">Conoce los beneficios</h2>

				</div>
			</div>
			<!-- Service Block v8 -->
			<div class="row ">

				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class=" icon-custom icon-color-default icon-lg fa fa-android"></i>
						<div class="service-block-desc">
							<h4>Plataforma Android</h4>
							<p>El software Casio TPV aprovecha la potencia de nuestra plataforma basada en Android para ofrecer uno de los paquetes más versátiles y ricos en características del mercado.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-wrench   "></i>
						<div class="service-block-desc">
							<h4>Fiabilidad y Robustez</h4>
							<p>Los TPV's de CASIO apoyan la operación 24/7 y tiene una pantalla resistente al agua y al polvo, lo que significa que los derrames diarios no son un problema.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

			<!-- Service Block v8 -->
			<div class="row " >
				<div class="col-sm-6 sm-margin-bottom-20">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-flag    "></i>
						<div class="service-block-desc">
							<h4>Fácil Manejo</h4>
							<p>La pantalla LCD fácil de usar es resistente y duradera, lo que permite al personal trabajar de manera rápida y efectiva con la fomación mínima necesaria.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-battery-full    "></i>
						<div class="service-block-desc">
							<h4>Bajo Consumo</h4>
							<p>Los TPV's de CASIO consumen mucha menos energía que los sistemas convencionales basados en PC y esto se traduce en ahorros significativos en los costes de funcionamiento.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

			<!-- Service Block v8 -->
			<div class="row  g-mb-30">
				<div class="col-sm-6 sm-margin-bottom-50">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-cloud   "></i>
						<div class="service-block-desc">
							<h4>Backoffice Cloud</h4>
							<p>Un paquete completo de back-office basado en la web que le permite administrar cada aspecto de sus terminales TPV y su parte en su negocio.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="service-block-v8">
						<i class="icon-custom icon-color-default icon-lg  fa fa-pencil   "></i>
						<div class="service-block-desc">
							<h4>Diseño Elegante</h4>
							<p>Un diseño delgado con una pantalla a color vibrante y una interfaz de usuario personalizable que crea un aspecto atractivo e intuitivo que su personal apreciará.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Block v8 -->

		</div>
		<!-- Productos -->
		<div class="container-fluid content-md soluciones-productos g-pt-30 g-pb-50">
				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center g-mt-40 g-mb-40">
						<h3 class="headline-title ">Gama de soluciones profesionales</h3>
					</div>
				</div>
				<div class="row">
						<div class="col-md-4">
							<div class="product-thumbnail ">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/profesional-1.png" alt="Casio V-R7000">
								<div class="caption">
									<h4>V-R7000/V-R7100</h4>
									<p class="g-mb-20">Una nueva plataforma para la innovación en los comercios minoristas y la transformación de los puntos de venta</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail ">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/profesional-2.png" alt="Casio V-R200">
								<div class="caption">
									<h4>V-R200</h4>
									<p  class="g-mb-20">El terminal empresarial V-R200 funciona en la plataforma Android™ ideal para hostelería y proceedores de servicios.</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail ">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/profesional-3.png" alt="Casio IT-G400">
								<div class="caption">
									<h4>IT-G400</h4>
									<p class="g-mb-20">Combina technología y usabilidad con la reconocida resistencia de los productos CASIO. Funciona con Android™.</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
				</div>


		</div>


		{% comment %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 col-offset-1 text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/tmp2.png" alt="." />						
				</div>
			</div>
		</div>
		{% endcomment %}

	</section>
