	<section id="consumo" class="soluciones-section soluciones-consumo-section text-center--2xs ">
		
		<!-- title -->
		<div class="container-fluid g-bg-green g-pt-40 g-pb-40">
	      <div class="text-center g-max-width--770 g-margin-side-auto g-mb-70 intro">
	        <h2 class="g-mb-30 headline-after">
	        	<span class="headline-name">Soluciones de Consumo</span>
	        	Cajas registradoras
        	</h2>
	        <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt finibus dapibus. Integer bibendum finibus scelerisque. Morbi aliquet libero ac condimentum pharetra. Vivamus eleifend mauris vel dui egestas auctor.</p>
	      </div>
		</div>

		<!-- Bodegon -->
		<div class="container-fluid soluciones-consumo-imagen">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/products-consumo.png" alt="Casio Soluciones de consumo" />						
				</div>
			</div>
		</div>

		<div class="container-fluid  content-md">
				<!-- Soluciones para Sistemas -->
				<div class="row ">
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center g-mt-10 g-mb-40">
						<h3 class="headline-title g-color-dark ">Modelos recomendados para soluciones de consumo</h3>
					</div>
				</div>

				<div class="row row-product-thumbnail equal-height-columns">
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-1.png" alt="Casio SE-S100">
								<div class="caption">
									<h4>SE-S100<br><br></h4>
									<p  class="g-mb-20">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-2.png" alt="Casio SE-400/C4500">
								<div class="caption">
									<h4>SE-400/C4500<br>SE-S300/C3500</h4>
									<p  class="g-mb-20">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs btn-u-sea ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="product-thumbnail">
								<img class="img-responsive" src="{{ '/' | prepend: site.data.global.url }}media/images/products/consumo-3.png" alt="Casio SE-G1">
								<div class="caption">
									<h4>SE-G1<br><br></h4>
									<p class="g-mb-20">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
									<p class="text-center"><a href="#" class="btn-u btn-u-default btn-u-xs ">Consultar especificaciones <i class="fa fa-angle-right "></i></a></p>
								</div>
							</div>
						</div>
				</div>
 
		</div>



		{% comment %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 soluciones-product-pack text-center">
					<img class="img-responsive " src="{{ '/' | prepend: site.data.global.url }}media/images/tmp.png" alt="." />						
				</div>
			</div>
		</div>
		{% endcomment %}

	</section>
