<section id="welcome" class="welcome-section g-pt-90">
	<div class="container-fluid">
		<div class="row">
			<!-- Text block -->
			<div class="col-lg-6 col-lg-offset-0 col-md-10 col-md-offset-1 col-xs-12 col-2xs-12 g-mt-20 g-mb-90 page-scroll wrapper">
        <h2 class=" g-mb-10 main-title g-color-white ">
        	Soluciones para tu tranquilidad
      	</h2>
				<p class="lead  g-mb-30 g-color-white g-mr-50">Descubre un terminal de punto de venta más sencillo e inteligente, que funciona tan rápido como tu negocio.</p>

        <a class=" btn-u btn-u-lg btn-u-upper btn-u-sea g-mr-20 g-3xs-mb-20 g-3xs-mr-0 " href="#soluciones">Saber más </a>
				<div class="visible-3xs clearfix"></div>
				<a href="{{ '/' | prepend: site.data.global.url }}contacto" class="btn-u btn-brd btn-u-lg btn-u-upper ">
				Solicita una demo</a> 


			</div>

			<!-- Aside image -->
			<div class="col-lg-5 col-lg-offset-0 img-wrapper">
				<img src="{{ '/' | prepend: site.data.global.url }}media/images/products/welcome-1.png" alt=".">
			</div>
		</div>	
	</div>
</section>