.page-historia {
	.history-section {
		background: darken($cs-green, 5%);
		text-align: left;
		h1 {
			color: $cc-light-color;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			letter-spacing: 2px;
		}
		p {
			&.lead {
				font-size: 21px;
				line-height: 36px;
				font-weight: 100;
			}
		}
		img {
    	display: none;
    }
		a.btn-u {
			display: none;
		}
	}
	.history-text {
		h3 {
			color: $cs-green;
			font-size: 30px;
			font-weight: 700;
		}
		p {
			font-size: 16px;
			font-weight: 400;
			margin: 1.5em 0;
			color: $cc-dark-color;
			&.lead {
				color: $cc-darker-color;
				font-size: 21px;
				font-weight: 100;
				line-height: 36px;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 991px)  { 
	.page-historia {
		.history-section {
			text-align: center;
		}
	}
}


@media (min-width: 992px)  { 
	.page-historia {
		.history-section {
			text-align: left;
		}
	}
}

