
// 1. Navegació principal
// Butó gran de la navegació
.container-fluid > .navbar-collapse, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container > .navbar-header {
	.header-buttons {
		top: 6px;
		.btn-u.btn-brd {
			color: $cs-green;
			border: solid 3px $cs-green;
			border-color: $cs-green;
			padding: 12px 25px;
			margin-top: 0;
			&:hover {
				background: $cs-green;
				color: #fff;
			}
		}	
	}
}

/* Navbar */
// Fem que colapsi a 992px(md) i no pas a 768 (sm)
@media (max-width: 991px)  {
	.container-fluid > .navbar-collapse, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container > .navbar-header {
		.header-buttons {
			margin: 0 1em;
			margin-top: -1.5em;
			padding-bottom: 20px;
		}
	}
}

.one-page-header .navbar-brand {
	padding-top: 15px !important;
}

.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav > li > a,
.one-page-header.top-nav-collapse .navbar-nav > li > a:before {
  // color: $primary-color;
  font-size: 12px;
  font-weight: 700;
}

.one-page-header .navbar-nav > li > a {
  // color: $primary-color;
  font-size: 12px;
  font-weight: 700;
	padding: 0px 12px;
  &:hover, &:active {
  	span[data-hover] {
	  	color: $cs-blue;
  	}
  }
}
.one-page-header .navbar-nav > li > a span[data-hover] {
  // color: $primary-color;
  font-size: 12px;
}
.one-page-header .navbar-nav > li > a span[data-hover]:before {
	color: $cs-blue;
  font-size: 12px;
  font-weight: 700;
}
.one-page-header .navbar-nav > li > a:hover span[data-hover] {
  font-weight: 700;	
}
.one-page-header .navbar-brand {
	margin-right: 20px;
	padding: 8px 15px;
}

@media (min-width: 768px)  {
	.one-page-header .navbar-brand {
    // margin-left: -15px;
    // margin-left: 0;
	}
}

@media (max-width: 991px)  {
	.one-page-header .navbar-toggle {
	    display: block;
	    margin: 15px 10px 10px 0;
	}
}

/* Containers */
@media (min-width: 768px) {
	.one-page-header .menu-container {
	    width: 100%;
	}
}

// Fem més grans els links de navegació principal per pantalles grans
@media (min-width: 1199px) {
	.one-page-header.top-nav-collapse .navbar-brand,
	.one-page-header.top-nav-collapse .navbar-nav > li > a,
	.one-page-header.top-nav-collapse .navbar-nav > li > a:before {
	  font-size: 13px;
	  font-weight: 700;
	}
	.one-page-header .navbar-nav > li > a {
	  font-size: 13px;
	  font-weight: 700;
	}
	.one-page-header .navbar-nav > li > a span[data-hover] {
	  font-size: 13px;
	}
	.one-page-header .navbar-nav > li > a span[data-hover]:before {
	  font-size: 13px;
	}

}

// Menú desplegat
// Per evitar animacions indesitjades, apliquem estil per viewport
// , estigui o no, desplegat. ;)
@media (max-width: 991px)  {
	.navbar-collapse {
		margin-top: 1em;
		border-top: 1px solid $cc-light-color !important;
	}
	.one-page-header .navbar-nav > li {
		margin: 1.4em 0;
		text-align: center;
		& > a {
			&:hover span[data-hover] {
				// font-weight: 700;	
			}
			span[data-hover] {
				color: $cs-blue;
				font-size: 14px;
				// font-weight: 700;				
			}
		}
	}
}

.navbar-collapse {
	border: none;
}

// 2. Peu de página
/* Footer */
.footer {
	background: #fafafa;
	border-top: none;
	.container {
	  border-top: none;
	}
	a {
	  color: $text-color;
	}
	.copyright {
		display: inline-block;
		font-size: 12px;
	}
	.casio-logo-wrapper  {
		text-align: right;
		padding-right: 0;
		margin-top: 1em;
	}
	.casio-logo {
		display: inline-block;

		padding-right: 0;
		padding-bottom: 10px;
		em {
			display: inline-block;
			font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,"Arial Unicode MS",sans-serif;
			font-size: .9em;
			margin-left: .25em;
			padding-left: 1em;
			font-style: normal;
			font-weight: 200;
			line-height: 2em;
			color: #5977b3;
			border-left: 1px solid #dae0f2;			
		}
	}
	.legal {
		ul {
			display: inline-block;
			li {
				display: inline-block;
				margin-right: 1em;
				border-right: 1px solid $cs-light-color;
				padding-right: 1em;
				&:last-child {
			    border-right: none;
			    padding-right: 0;
			    margin-right: 0;
				}
				a {
					font-size: 12px;
					font-weight: 100;
				}
			}
		}
	}

}

@media (min-width: 768px) {
	.footer {
		.casio-logo-wrapper {
			margin-top: 0;
			padding-right: 20px;
		}
	}
}


@media (max-width: 768px) {
	.footer {
		.casio-logo-wrapper  {
			text-align: center;
		}

		.legal {
			text-align: center;
			ul li a {
				font-size: 11px;
			}
		}
	}
}