.page-manuales {
	.manuales-section {
		text-align: left;
		h1 {
			color: $cs-light-color;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			letter-spacing: 2px;			
		}
	}

	.manuales-list {
		h3 {
			font-size: 30px;
			font-weight: 400;
			letter-spacing: 0;
			text-transform: uppercase;
			color: $cs-blue;
			margin-bottom: 10px;
		}
		h4 {
			font-weight: 800;
			font-size: 30px;
			color: $cs-darkest;
			margin-top: 60px;
			line-height: 39px;
			&:first-child  {
				margin-top: 30px;

			}
		}
		h5 {
			color: $cc-darker-color;
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0;
			line-height: 28px;
		}
		p {
			font-weight: 100;
			font-size: 14px;			
			line-height: 22px;
			.btn-u.btn-u-md {
				margin-top: 30px;
				border-radius: 30px;
		    font-size: 14px;
		    padding: 10px 30px;
			}
			&.lead {
				font-size: 16px;
				font-weight: 400;
				color: $cc-dark-color;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 991px)  { 
	.page-manuales {
		.manuales-section {
			text-align: center;
		}
	}
}

@media (max-width: 767px)  { 
		.download {
			border-top: 1px dashed $cs-light-color;
			&:first-child {
				border-top: none;
			}
		}
}

@media (max-width: 480px) {
	.page-manuales {
		.manuales-section {
			h1 {
			}
		}
		.manuales-list {
			h3 {
				font-size: 24px;
			}
			h4 {
			}
			h5 {
				font-size: 22px;
			}
			p {
				font-weight: 400;
				font-size: 12px;
				.btn-u.btn-u-md {
					font-size: 12px;
			    padding: 6px 18px;
				}
			}
		}
	}
}


@media (min-width: 992px)  { 
	.page-manuales {
		.manuales-section {
			text-align: left;
		}
	}
}