@charset "utf-8";


// Brand variables
$font-family-sans-serif: "Open Sans", Arial, sans-serif;

// Colors 2018
$cs-darkest:  		#010A22;
$cs-green:  			#00BABE;
$cs-green-triad-2: #C91491;
$cs-green-compound-2: #233B58;
$cs-green-compound-4: #C85532;
$cs-green-compound-5: #F12C18;

$cs-blue:					#0052A2;
$cs-blue-compound-4:					#B6722E;	// brown light
$cs-blue-compound-5:					#DF5D16; // orange
$cs-blue-triad-2: #B91C12;	// red
$cs-blue-triad-4: #6E790C;	// green
$cs-blue-triad-5: #E2F80C; //yellow

$cs-blue-light:		#00BDF5;
$cs-light-color:  #dedede;
$cs-lightest: 		#fafafa;

// Colors
$cc-primary:      $cs-blue;
$text-color:      #999;
$primary-color:   #0057AC;
$link-color:      #00BDF5;
$secondary-color: #e7e7e7;
$third-color:     #00BABE;

$cc-darker-color: #111;
$cc-dark-color:   #333;
$cc-light-color:  #dedede;

$primary-color-dark:  darken($primary-color, 20%);
$primary-color-light: lighten($primary-color, 30%);

@media (min-width: 1440px)   {
	.container-fluid {
		padding-right: 8em;
		padding-left: 8em;
	}
}

@import 'theme_color_base';
@import 'custom';
@import 'distribuidor';
@import 'legal';
@import 'history';
@import 'carrousel';