---
layout:       default
layout_class: page-home   
layout_id:    home   
permalink:    /
sitemap:      1
title:        CASIO System Solutions | TPV, Cajas registradoras y Soluciones en red para hostelería y retail
intro:        'Optimiza y sácale el máximo partido a todas las soluciones TPV de CASIO y prepárate para empezar la temporada con el mejor terminal de punto de venta.'
---
		{% comment %}
			<h1>{{ site.data.global.title }}</h1>
			<h2>{{ site.data.global.description | markdownify }}</h2>
		{% endcomment %}


		<!-- Promo Section -->
		{% include components/promo-products.html %}
		<!-- /Promo Section -->

		<!-- Soluciones Profesionales Section -->
		{% include components/soluciones-profesionales.html %}
	  <!-- /Soluciones Profesionales Section -->

		<!-- Soluciones de Consumo Section -->
		{% include components/soluciones-consumo.html %}
	  <!-- /Soluciones de Consumo Section -->


		<!-- Casos de éxito Section -->
		{% include components/noticias.html %}
	  <!-- /Projects/Casos de éxito Section -->

		<!-- Partners Section -->
		{% include components/partners-new.html %}
		<!-- /Partners Section -->

		<!-- Our history banner Section -->
		{% include components/our-history.html %}
		<!-- /Our history banner Section -->

		{% comment %}
			<!-- Partners Section -->
			{% include components/partners.html %}
			<!-- /Partners Section -->

			<!-- Partners Ventajas Section -->
			{% include components/partners-ventajas.html %}
		  <!-- /Partners Ventajas Section -->

			<!-- Contact Section -->
			{% include components/contact.html %}
			<!-- /Contact Section -->

			<!-- Newsletter Section -->
			{% include components/newsletter.html %}
			<!-- /Newsletter Section -->

			<!-- Software Section -->
			{% include components/software.html %}
			<!-- /Software Section -->

			<!-- About Section -->
			{% include components/about-us.html %}
			<!-- /About Section -->
	
			<!-- Soluciones Section -->
			{% include components/sectores.html %}
		  <!-- /Soluciones Section -->

		{% endcomment %}
